/* NAVIGATION */
$orange-nav-home: #b46700;
$orange-nav-two-courses: #b97e02;
$blue-nav-backward-design: #4789b3;
$blue-nav-course-map: #4678ae;
$blue-nav-activity: #3e5161;

$white: #fefefe;

$blue: #0c4763;
$blue-dark: #233649;
$blue-medium: #2d465f;
$blue-light: #3769a5;
$blue-lighter: #3d7eac;

$orange-dark: #ae5a00;
$orange-light: #b57400;

$gray: #86909f;
$gray-dark: #51585a;
$gray-light: #c9c9c9;
$gray-lighter: #f1f1f1;

$yellow: #fdb71d;
$green: #7cc576;

$black: #282828;
$black-light: #4c4c4c;

$red: #ec5840;
$red-dark: #DB3C23;
$red-light: #f39a8c;

$green: #5cb85c;
$green-dark: #52a552;
$green-light: #8ccd8c;


