html, body {
    position: relative;
    height: 100%;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    // -webkit-transform-style: preserve-3d;
    // -moz-transform-style: preserve-3d;
    // transform-style: preserve-3d;
}

// Prevent page jump when modal opens
body.is-reveal-open {
    overflow: visible;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}