/* NAVIGATION */
@mixin menu-span ($bgcolor) {
    display: inline-block;
    width: 34px;
    height: 34px;
    background-color: $bgcolor;
    border-radius: 50%;
    margin: 8px 0 10px 28px;
}

@mixin menu-image {
    max-width: 1.5rem;
    height: auto;
    margin-top:  4px;
    margin-left: 5px;
}


@mixin sectionStyles {

    padding: 2.5rem 0 2.5rem;
    overflow-y: scroll;
    
    .title {
            margin: 0;
            line-height: 1;
            padding-bottom: 1rem;
            font-size: 4rem;
            font-weight: 300;
            text-decoration: none;
            text-align: center;
            font-size: 3.5rem;

            strong {
                font-weight: 700;
                font-style: italic;
                text-decoration: none;
            }
        }

    .sub-title {
        font-size: 1.8rem;
        margin-left: 6rem;
        margin-right: 6rem;
        margin-bottom: 2rem;
        line-height: 1.25;

        strong {
            font-style: italic;
        }
    }
    
    p {
        font-size: 1.25rem;

        strong {
            font-style: italic;
            //font-size: 1.50rem;
        }
    }

    .big-sentence {
        font-size: 2.75rem;
        line-height: 1.25;
    }
    .content {
        margin-bottom: 2rem;
    }
}

@mixin white {
    color: $white;
}

/* COURSE MAP SLIDE ANIMATION */
@mixin slideSize {
    width: 969px;
    height: 610px;
    background-size: 969px 610px;
}

@mixin slideText {
    color: $black;
    font-family: 'Open Sans', sans-serif;
    
    h2 {
        top: -14rem;
        position: relative;
        font-size: 3rem;
        color: $black;
    }
    
    ul {
        width: 36rem;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        font-size: 1.50rem;
        text-align: left;
    }
}


@mixin imageSize {

    @media screen and (max-height: 750px) {
        img.resize {
            height: 80%;
            width: 80%;
        }
    }
}

@mixin imgRound {
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    @include transform(scale(0));
    
    height: 450px;
    max-width: 450px;
    border: 15px solid $white;
    opacity: 0;
}

@mixin imgRoundTwo {
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    @include transform(scale(0));
    
    height: 450px;
    max-width: 450px;
    border: 15px solid $white;
}

@mixin animation1-margin {
    margin-left: -20px;
}

@mixin center-image {
    p.center {
        text-align: center;
    }
}

@mixin vertical-align {
    margin: auto;
}

@mixin splash {

    img.splash {
        width: 100%;
        height: auto;
    }
}

@mixin imageCentered {

     img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin headerImage {
    
    img.headerImage {
        width: 10em;
        height: auto;
        margin-top: -20px;
    }
}

@mixin activityHeaderImage {

    img.activityHeaderImage {
        width: 8em;
        height: auto;
        margin-top: -28px;
    }
}

@mixin notSelected {
    font-weight: bold;
    background-size: 40px 40px;
}

@mixin tabSelected {
    background-color: $blue;
    height: 90px;
    width: 230px;
    color: $white;
    font-size: 1.75rem;
    margin-top: 0;
    padding-top: 1.25rem;
    padding-left: 5.75rem;
    font-weight: 500;
    background-size: 4rem 4rem;
}

@mixin backgroundBlue {
    position: relative;
    //overflow: hidden;
    background-color: $blue;
    background: $blue url(../img/background.png) center bottom repeat-x;
    background-blend-mode: overlay;  
    background-position: right 50% bottom -250px;
}

@mixin backgroundGray {
    position: relative;
    //overflow: hidden;
    background: $gray url(../img/background.png) center bottom repeat-x;
    background-blend-mode: overlay;
    background-position: right 50% bottom -250px;
}

@mixin backgroundGrayLight {
    //position: relative;
    //overflow: hidden;
    background: $gray-lighter url(../img/background.png) center bottom repeat-x;
    background-blend-mode: overlay;
    background-position: right 50% bottom -250px;
}

@mixin backgroundYellow {
    //position: relative;
    //overflow: hidden;
    background: $yellow url(../img/background.png) center bottom repeat-x;
    background-blend-mode: overlay;
    background-position: right 50% bottom -300px;
}

@mixin workshopPlan {

    .workshopPlan {
        height: 344px !important;
        width: 82%;
        min-width: 800px;
        padding-top: 13px;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid $gray-lighter;
        background-color: $white;
        -webkit-box-shadow: 9px -7px 21px 1px rgba(205,205,205,1);
        -moz-box-shadow: 9px -7px 21px 1px rgba(205,205,205,1);
        box-shadow: 0px -0px 21px 1px rgba(205,205,205,1);

        .greatWork {
            line-height: 1;
            margin-bottom: 50px;
        }

        table {
            width: 684px;
            height: 288px;
            border-top: 2px solid $gray-light;
            border-bottom: none;
            margin: 0 auto 10px auto !important;
            overflow: hidden;


            th {
                vertical-align: top;
                border: 2px solid $gray-light;
                font-weight: bold;
                width: 25%;
                height: 92px;
                //overflow: hidden;
            }

            td {
                vertical-align: top;
                min-width: 171px;
                height: 92px;
                padding: 0;
                text-align: left;
                //border-top: 2px solid $gray-light;
                border-left: 2px solid $gray-light;
                border-right: 2px solid $gray-light;
                border-bottom: none;
                background-color: $white;
            }

            p {
                font-size: .8rem;
                line-height: 1.15;
                margin-bottom: .2rem;
                padding: 5px;
                padding-bottom: .5px;

            }  strong {
                font-size: .8rem;
                font-style: normal;
            }
        }
    }
}

/* SLIDE ANIMATION ONE */

@mixin closed-captioning-button-one {
    position: absolute;
    background: $black linear-gradient(hsla(0,0%,100%, .2), transparent);
    border: 1px solid $black;
    padding: .39rem .6rem;
    color: #ffffff;
    top: 510px;
    left: 892px;
    font-size: 1.3rem;
    font-weight: 700;
    z-index: 10;
}

@mixin closed-captioning-overlay-one {
    position: absolute;
    overflow: hidden;
    top: 500px;
    display: none;
    width: 969px;
    height: 110px;
    padding: .5rem 7rem 1rem 7rem;
    text-align: left;
    border: none;
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    opacity: .8;
    z-index: 5;
    line-height: 1.25;
    color: $white;
    font-family: $body-font-family;
    font-size: 1rem !important;
}

/* SLIDE ANIMATION TWO */
@mixin closed-captioning-button {
    position: absolute;
    background: $black linear-gradient(hsla(0,0%,100%, .2), transparent);
    border: 1px solid $black;
    padding: .39rem .6rem;
    color: #ffffff;
    top: 510px;
    left: 910px;
    font-size: 1.3rem;
    font-weight: 700;
    z-index: 10;
}

@mixin closed-captioning-overlay {
    position: absolute;
    overflow: hidden;
    top: 498px;
    display: none;
    width: 969px;
    height: 110px;
    padding: .5rem 7rem 1rem 7rem;
    text-align: left;
    border: none;
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    opacity: .8;
    z-index: 5;
    line-height: 1.25;
    color: $white;
    font-family: $body-font-family;
    font-size: 1rem !important;
}

@mixin activity {
    
    width: 100vw;
    min-height: 100%;
    color: $black;

    @media screen and (max-height: 750px) {
        min-height: 130%;
    }
    
    h1 {
        margin-top: 0.3rem;
        margin-bottom: 1.1rem !important;
        font-size: 2.5rem;
        line-height: 1em;
    }
    
    .sub-paragraph-one {
       @include subparagraph;
    }

    .sub-paragraph-two {
        @include subparagraph;
    }

    .sub-paragraph-three,
    .sub-paragraph-four,
    .sub-paragraph-five {
        @include subparagraph;
    }

    span {
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 10px;
    }

    .reveal-overlay.fade-in {
      transition-duration: 0.25s;
    }

    #drag-instructions,
    #drag-instructions-two,
    #drag-instructions-three {
        margin: 1rem 0 -2rem 0;

        img {
            width: 2.5rem;
            height: auto;
        }
    }
    .dragSquares,
    .dragSquaresTwo, 
    .dragSquaresThree  {
        @include drag;
    }

    .dragSquares:last-child, .dragSquares.five {
        //margin-top: 4rem;
        margin-right: auto !important; 
    }

    .dragSquaresTwo:last-child {
        margin-right: 0 !important; 
    }

    .dragSquaresThree:last-child {
        margin-right: 0 !important; 
    }
}

@mixin drag {

    margin: 3rem auto;

        .drag {
            width: 171px;
            height: 80px;
            display: inline-block;
            margin-right: 20px;
            @include border-top-radius(2px);
            @include border-bottom-radius(2px);
            cursor: -webkit-grab;
            cursor: -moz-grab;
            cursor: move;

            // &.drag-active, &:hover {
            //     border: solid 2px darken($yellow, 30%);
            // }
        }

}

@mixin subparagraph {
    width: 90%;
    margin: 8px auto 8px auto !important;
    line-height: 1.2;
    font-size: 1.1rem;
}

@mixin yourOwnCourse {
    
    width: 100%;
    min-height: 100%;

    @media screen and (max-height: 750px) {
        min-height: 130%;
    }

    h2 {
        line-height: 1.2;
        padding-top: 5px;
        padding-bottom: 50px;
    }

    h2, h3, p, ul {
        color: $black;
    }

    h3, ul {
        font-size: 1.6rem;
        margin: 3rem;
        //font-weight: bold;
    }

    ul {
        margin-left: 8rem;
    }

    p, ul {
        font-size: 1.25rem;
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }

    
    a:hover { 
        color: $black;
    }

    img.smile {
       width: 4em;
       height: auto;
       margin-left: 1.5em;
       margin-right: 1.5em;
    }

    label {
        font-size: 1.15rem;
    }

    #step-one,
    #step-two,
    #step-three {
        margin-top: 6em;
    }
}

@mixin customButton {
    padding: 10px 40px;
    width: 140px;
    font-size: 1.5rem;
    font-weight: bold;
}

.alignButton {
    text-align:center;
    display: block;
    margin: 1rem auto 2rem auto;
    clear: left;
}

@mixin button($bgcolor, $border-color, $hover-color) {
    background: $bgcolor linear-gradient(hsla(0,0%,100%, .2), transparent);
    border: 1px solid $border-color;
    padding: .2em .8em;
    //border-radius: .2em;
    //box-shadow:  0 .05em .25em rgba(0,0,0,.5);
    color: $white;
    text-shadow: 0 -.05em .053m rgba(0,0,0, .5);
    font-size: 150%;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;

    &:hover, &:focus {
        color: $hover-color !important; 
    }
}

@mixin sound {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 0;
    height: 64px;
    width: 60px;
    cursor: pointer;
    display: block;
    position: relative;
    top: 150px;
    left: 200px;
    display: block;
    z-index: 99;
    left: 55rem;
    top: 5rem;
}