.pure-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    right: -17px; // hovering over the right side of sceen when 
                 // menu was collapsed was allowing sub-menu to display;
}

.pure-menu-list, .pure-menu-item {
    position: relative;
}

.pure-menu-link {
    display: block;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
    Add transition to containers so they can push in and out.
*/
#layout, #menu, .menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
    This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    
    -webkit-transform: translateZ(0); // Prevents menu from disappearing in Chrome
    top: 0;
    right: 0;
    z-index: 999;

}

#layout.active #menu {
    right: 152px;
    width: 104px;
}

/*
    The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
    appears on the right side of the page.
*/

#menu {
    margin-right: - 151px; /* "#menu" width */
    width: 151px;
    position: fixed;
    top: 68px;
    right: 0;
    z-index: 999; /* so the menu or its navicon stays above all content */
    overflow-y: visible;
}

/*
    All anchors inside the menu should be styled like this.
*/
#menu a {
    position: relative;
    color: #ffffff;
    border: none;
    text-decoration: none;
    text-align: center;
    line-height: 1;
  }

/* 
   Increase the size of the clickable area  
*/
#menu a::before {
    content: '';
    position: absolute;
    top: -52px; right: -1px;
    bottom: 0; left: -1px;
}
    
/* 
    Custom 
*/
#menu .pure-menu li {
    height: 88px;
    width:  88px;
    font-size: .9rem;
    list-style: none;
}

/* 
    Home 
*/
#menu .pure-menu li.home {
    background-color: #ae5a00;
}

#menu .pure-menu li.home span {
    @include menu-span ($orange-nav-home);
}

#menu .pure-menu li.home img {
    @include menu-image;
}
/* 
    Tale of Two Courses 
*/

#menu .pure-menu li.two-courses {
    background-color: #b57400;
}

#menu .pure-menu li.two-courses span {
    @include menu-span ($orange-nav-two-courses);
}

#menu .pure-menu li.two-courses img {
    @include menu-image;
}

/* 
    Backward Design 
*/
#menu .pure-menu li.backward-design {
    background-color: #3d7eac;
}

#menu .pure-menu li.backward-design span {
    @include menu-span ($blue-nav-backward-design);
    border-top: 1px solid #4690c1;
}

#menu .pure-menu li.backward-design img {
    @include menu-image;
}

/* 
    Course Map  
*/
#menu .pure-menu li.course-map {
    background: #3769a5;
}

#menu .pure-menu li.course-map span {
    @include menu-span ($blue-nav-course-map);
    border-top: 1px solid #32699c;
}

#menu .pure-menu li.course-map img {
    @include menu-image;
}

/* 
    Activity 
*/
#menu .pure-menu li.activity {
    background-color: #223548;
}

#menu .pure-menu li.activity span {
    @include menu-span ($blue-nav-activity);
}

 #menu .pure-menu li.activity img {
    @include menu-image;
}

/*
    The submenu
*/

/*
    Increase clickable area of submenu without having it
    affected by top-level menu
*/
 
#menu ul > li > ul a::before {
    content: '';
    position: absolute;
    top: -10px; right: -20px;
    bottom: -10px; left: -20px;
}

#menu ul > li > ul {
    display: none;
}

#menu ul > li > ul {
    right: 88px;
    position: absolute;
    top: 0;
    z-index: 999; /* so the menu or its navicon stays above all content */
    border-top: none;
   // -webkit-overflow-scrolling: touch;
}

#menu ul > li > ul > li {
    height: 40px !important;
    width: 120px !important;
    display: flex; /* make each flex item a flex container, as well */
    align-items: center; /* center text vertically (in this case) */
    justify-content: center;  /* center text horizontally (in this case) */
    list-style: none;
    background-color: $blue-medium;
    color: #fff;
    text-align: center;
    -webkit-animation-delay: -5s; /* Chrome, Safari, Opera */
    animation-delay: -5s;
}

.submenu-bottom-border {
    border-bottom: 1px solid #485e74;
}
       
/*
    This styles the menu heading.
*/
#menu .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
    The button to open/close the Menu is custom-made and not part of Pure. Here's
    how it works:
*/

/*
    `.menu-link` represents the responsive menu toggle that shows/hides on
    small screens.
*/
.menu-link {
    float: right;
    display: block;
    top: -50px;
    width: 88px;
    right: 0;
    background: #000;
    background-color: #233649;
    font-size: 16px;
    color: #fefefe;
    z-index: 999;
    height: auto;
    padding: 2em 2em;
}

/*  .menu-link:hover,
    .menu-link:focus {
        background: #233649;
    } 
*/

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    width: 28px;
    height: 4px;
    transition-duration: 0.5s;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}

 &.active {
    .menu-link span {
      transition-duration: 0.5s;
      background: transparent; // Middle "bar" disappears
      
      &:before{ // Top "bar" rotates 45 degrees
        transform: rotateZ(45deg) scaleX(1.30) translate(6.9px, 6.9px);
      }

      &:after{ // bottom "bar" rotates 45 degrees
        transform: rotateZ(-45deg) scaleX(1.30) translate(5.5px, -5.5px);
      }
    }
  }

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/

