.tabs {
    border: none;
    background: none;
}

li.tabs-title.course-structure a {
    padding-left: 4rem;
    padding-top: 22px;
    background: $gray-light url(../img/puzzle-unselected.svg) no-repeat 1rem 1rem; 
    @include notSelected;
}

li.tabs-title.materials a {
    padding-left: 4rem;
    padding-top: 22px;
    background: $gray-light url(../img/document-unselected.svg) no-repeat 1rem 1rem;
    @include notSelected;
}

li.tabs-title.coverage a {
    padding-left: 3.75rem;
    padding-top: 22px;
    background: $gray-light url(../img/umbrella-unselected.svg) no-repeat 1rem 1rem;
    @include notSelected;
}

li.tabs-title.workload a {
    padding-left: 3.75rem;
    padding-top: 22px;
    background: $gray-light url(../img/student-unselected.svg) no-repeat 1rem 1rem;
    @include notSelected;
}

li.tabs-title.scores a {
    padding-left: 4rem;
    padding-top: 22px;
    background: $gray-light url(../img/score-unselected.svg) no-repeat 1rem 1rem;
    @include notSelected;
}

// .tabs-title.course-structure > a {
//     height: 90px;
//     width: 270px;
//     color: $white;
//     font-size: 2rem;
//     margin-top: 0;
//     padding-top: 22px;
// }

// .tabs-title.course-structure > a[aria-selected='true'],
// .tabs-title.materials > a[aria-selected='true'],
// .tabs-title.coverage > a[aria-selected='true'],
// .tabs-title.workload > a[aria-selected='true'],
// .tabs-title.scores > a[aria-selected='true'] {
//     @include tabSelected;
// }

.tabs-title.course-structure > a[aria-selected='true'] {
    background: $blue url(../img/puzzle-selected.svg) no-repeat 1.25rem 1rem; 
    @include tabSelected;
}

.tabs-title.materials > a[aria-selected='true']  {
    background: $blue url(../img/document-selected.svg) no-repeat 1.25rem 1rem; 
    @include tabSelected;
}

.tabs-title.coverage > a[aria-selected='true']  {
    background: $blue url(../img/umbrella-selected.svg) no-repeat 1.25rem 1rem;
    @include tabSelected;
}

.tabs-title.workload > a[aria-selected='true']  {
    background: $blue url(../img/student-selected.svg) no-repeat 1.25rem 1rem; 
    @include tabSelected;
}

.tabs-title.scores > a[aria-selected='true']  {
    background: $blue url(../img/score-selected.svg) no-repeat 1.25rem 1.25rem; 
    @include tabSelected;
}

.tabs-title > a {
    display: block;
    padding: 2rem 2.5rem;
    margin-top: 26px;
    line-height: 1;
    font-size: 1rem;
    background-color: $gray-light;
    margin-right: 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 64px;
    width: 140px;
    color: $black;
}

.tabs-content {
    height: 400px;
    border: none;
}

.typical-course-design {
    display: inline-block;
    margin-top: 4rem;
    width: 50%;
    text-align: center;

    h3 {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 2rem;
    }

    p {
        text-align: left;
        margin-left: 11%;
        margin-right: 11%;
        line-height: 1.5rem;
    }
}

.pearson-backward-design {
    float: left;
    margin-top: 4rem;
    width: 50%;
    height: 16rem;
    border-right: 1px solid $white;
    text-align: center;

    h3 {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: $yellow;
        line-height: 2rem;
    }

    p {
        text-align: left;
        margin-left: 11%;
        margin-right: 11%;
        line-height: 1.5rem;
    }
}