/* SAVE THIS PAGE JUST IN CASE THIS CONTENT IS ADDED AT A LATER DATE */

<a name="backward-design-process"></a>
<div id="backward-design-process">
    <div class="row">
        <div class="small-12 text-center columns">
            <h1 class="title">Backward Design Process</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 text-center columns">
            <!-- <embed src="{{root}}assets/img/process.svg"></embed> -->

            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="800px" height="600px" viewBox="-250 -150 1000 800" enable-background="new -250 -150 1000 800" xml:space="preserve">

    <defs>
        <style type="text/css">
            <![CDATA[
                @import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400);

                ]]>
        </style>
    </defs>


    <defs>
        <style type="text/css">
            <![CDATA[
                h2 {
                    font-size: 2.25rem;
                }

                h3 {
                    font-size: 1.5rem;
                }
                h2, h3 {
                color: #3769a5;
              }
            ]]>       
        </style>
    </defs>

<rect x="-274" y="-186" fill="#858FA0" width="1066" height="862"/>
<circle fill="#50585A" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" cx="-61.6" cy="444.8" r="112.5"/>
<text transform="matrix(1 0 0 1 -92.0576 378.047)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="24.9304">Step 3</text>
<text transform="matrix(1 0 0 1 174.1475 415.4333)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="22">Review</text>
<text transform="matrix(1 0 0 1 270 491.2493)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="22">Revise</text>
<text transform="matrix(1 0 0 1 -118.9834 498.8634)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="22.0538">Instruction and</text>
<text transform="matrix(1 0 0 1 -96.9839 521.8771)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="22.0538">Learning</text>
<polygon fill="#FFB500" points="-74.2,420.5 -74.1,406.1 -61.5,399 -49.1,406.3 -49.3,420.8 -61.7,427.9 "/>
<polygon fill="#FFB500" points="-74.2,467.9 -74.1,453.5 -61.5,446.4 -49.1,453.7 -49.3,468.1 -61.7,475.2 "/>
<polygon fill="#FFB500" points="-88.5,444.6 -88.4,430.2 -75.8,423.1 -63.4,430.4 -63.5,444.8 -76.1,451.8 "/>
<polygon fill="#FFB500" points="-102.9,467.9 -102.8,453.5 -90.2,446.4 -77.7,453.7 -77.9,468.1 -90.4,475.2 "/>
<polygon fill="#FFB500" points="-59.8,444.6 -59.7,430.2 -47.1,423.1 -34.7,430.4 -34.9,444.8 -47.3,451.8 "/>
<polygon fill="#FFB500" points="-45.4,467.9 -45.3,453.5 -32.8,446.4 -20.4,453.7 -20.5,468.1 -33.1,475.2 "/>
<circle fill="#F96C00" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" cx="566.6" cy="444.1" r="112.5"/>
<text transform="matrix(1 0 0 1 538.1924 377.4332)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="24.9304">Step 2</text>
<text transform="matrix(1 0 0 1 530.544 498.2496)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="22.0538">Evidence/</text>
<text transform="matrix(1 0 0 1 518.5713 521.2632)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="22.0538">Assessments</text>
<g>
    <path fill="#FEF6E4" d="M602.2,460.4l-17.5-17.5c-0.5-0.5-1-0.8-1.5-1l-5.9-1.9l-6.7,6.7l1.9,5.9c0.2,0.6,0.5,1.2,1,1.5l17.5,17.5
        c1.5,1.5,3.6,2.3,5.7,2.3s4.1-0.8,5.7-2.3C605.4,468.6,605.4,463.6,602.2,460.4z"/>
    <path fill="#FEF6E4" d="M552.4,394.1c-15.4,0-27.9,12.5-27.9,27.9s12.5,27.9,27.9,27.9s27.9-12.5,27.9-27.9
        S567.9,394.1,552.4,394.1z M552.4,445.9c-13.2,0-23.9-10.7-23.9-23.9s10.7-23.9,23.9-23.9s23.9,10.7,23.9,23.9
        S565.7,445.9,552.4,445.9z"/>
</g>
<circle fill="#0080A3" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" cx="255" cy="91.4" r="112.5"/>
<text transform="matrix(1 0 0 1 223.6153 24.6958)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="24.9304">Step 1</text>
<text transform="matrix(1 0 0 1 208.7627 145.5122)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="22.0538">Results and</text>
<text transform="matrix(1 0 0 1 214.3921 168.5254)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="22.0538">Objectives</text>
<g>
    <path fill="#FFFFFF" d="M281.6,66.4c2.7,4.8,4.3,10.4,4.3,16.2c0,18.1-14.7,32.8-32.8,32.8s-32.8-14.7-32.8-32.8
        s14.7-32.8,32.8-32.8c9.8,0,18.6,4.3,24.5,11.1l5.3-3.8c-7.2-8.4-17.9-13.8-29.9-13.8c-21.7,0-39.3,17.5-39.3,39.3
        s17.5,39.3,39.3,39.3s39.3-17.5,39.3-39.3c0-7.3-2-14.1-5.5-20L281.6,66.4z"/>
    <path fill="#FCB71B" d="M273.1,64.2c-5-5.4-12.1-8.8-20-8.8c-15.1,0-27.2,12.2-27.2,27.2s12.2,27.2,27.2,27.2
        c15.1,0,27.2-12.2,27.2-27.2c0-4.7-1.2-9.1-3.3-12.9l-5.3,3.7c1.3,2.8,2.1,5.9,2.1,9.2c0,11.5-9.3,20.9-20.9,20.9
        c-11.5,0-20.9-9.3-20.9-20.9s9.3-20.9,20.9-20.9c5.8,0,11,2.4,14.8,6.1L273.1,64.2z"/>
    <path fill="#FA6700" d="M252,79.2l11.2-8.1c-2.7-2.4-6.2-3.8-10.2-3.8c-8.4,0-15.2,6.8-15.2,15.2s6.8,15.2,15.2,15.2
        c8.4,0,15.2-6.8,15.2-15.2c0-2.1-0.4-4-1.2-5.8l-11.2,8.1c-0.6,0.4-1.2,0.7-2,0.7l0,0c-1.1,0-2.1-0.6-2.8-1.4
        c-0.5-0.8-0.8-1.6-0.6-2.5C250.7,80.6,251.2,79.8,252,79.2z"/>
    <path fill="#FCB71B" d="M253.3,81.1c-0.5,0.3-0.6,1-0.3,1.4s1,0.6,1.4,0.3l32.9-23.5l4.8,0.3l15.6-8.6l-10.3-0.1l3.2-9.7l-13.2,12
        l-1.2,4.4L253.3,81.1z"/>
</g>

<g>
    <circle onclick="top.step1(evt)" id="firstCircle" class="plus1" stroke="#50585A" stroke-width="2" stroke-miterlimit="10" cx="256" cy="238.8" r="23.2"/>
    <rect x="255.8" id="firstRectangle" class="rect1" y="227.1" width="0.9" height="23.9"/>
    <rect x="244.3" id="secondRectangle" class="rect2" y="238.7" width="23.9" height="0.9"/>
</g>

<g>
    <circle onclick="top.step2(evt)" id="secondCircle" class="plus2" stroke="#50585A" stroke-width="2" stroke-miterlimit="10" cx="566.6" cy="595.2" r="23.2"/>
    <rect x="566.4" id="thirdRectangle" class="rect3"  y="583.6" fill="#51585A" width="0.9" height="23.9"/>
    <rect x="554.9" id="fourthRectangle" class="rect4"  y="595.1" fill="#51585A" width="23.9" height="0.9"/>
</g>

<g>
    <circle onclick="top.step3(evt)" id="thirdCircle" class="plus3" stroke="#50585A" stroke-width="2" stroke-miterlimit="10" cx="-63.4" cy="595.2" r="23.2"/>
    <rect x="-63.7" id="fifthRectangle" class="rect5" y="583.6" fill="#51585A" width="0.9" height="23.9"/>
    <rect x="-75.2" id="sixthRectangle" class="rect6" y="595.1" fill="#51585A" width="23.9" height="0.9"/>
</g>

<line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="255" y1="-21.1" x2="255" y2="-186"/>
<g>
    <g>
        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="67.1" y1="459.1" x2="73.1" y2="459.1"/>
        
            <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="11.7632,11.7632" x1="84.9" y1="459.1" x2="431.9" y2="459.1"/>
        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="437.8" y1="459.1" x2="443.8" y2="459.1"/>
    </g>
</g>
<g>
    <g>
        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="67.1" y1="431.4" x2="73.1" y2="431.4"/>
        
            <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="11.7632,11.7632" x1="84.9" y1="431.4" x2="431.9" y2="431.4"/>
        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="437.8" y1="431.4" x2="443.8" y2="431.4"/>
    </g>
</g>
<polygon fill="#FFFFFF" points="194.9,425 194.9,438.3 174.1,431.7 "/>
<polygon fill="#FFFFFF" points="318,465.7 318,452.4 338.7,459.1 "/>
<text transform="matrix(0.7224 -0.6915 0.6915 0.7224 11.467 271.1693)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="22">Review</text>
<text transform="matrix(0.7224 -0.6915 0.6915 0.7224 97.9948 291.9652)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="22">Revise</text>
<g>
    <g>
        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0.3" y1="342.6" x2="4.6" y2="338.4"/>
        
            <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="11.605,11.605" x1="13" y1="330.4" x2="159.7" y2="190"/>
        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="163.9" y1="185.9" x2="168.2" y2="181.8"/>
    </g>
</g>
<g>
    <g>
        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="-18.9" y1="322.6" x2="-14.5" y2="318.4"/>
        
            <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="11.605,11.605" x1="-6.2" y1="310.4" x2="140.6" y2="170"/>
        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="144.8" y1="165.9" x2="149.1" y2="161.8"/>
    </g>
</g>
<polygon fill="#FFFFFF" points="33.7,263.4 42.8,273 23.3,282.6 "/>
<polygon fill="#FFFFFF" points="115.7,241.2 106.5,231.6 126.1,222.1 "/>
<text transform="matrix(0.6883 0.7255 -0.7255 0.6883 406.8797 193.8795)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="22">Review</text>
<text transform="matrix(0.6883 0.7255 -0.7255 0.6883 382.7097 275.2745)" fill="#FFFFFF" font-family="'PT Sans Narrow'" font-size="22">Revise</text>
<g>
    <g>
        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="335.5" y1="182.4" x2="339.7" y2="186.7"/>
        
            <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="11.605,11.605" x1="347.7" y1="195.1" x2="487.4" y2="342.5"/>
        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="491.4" y1="346.7" x2="495.6" y2="351"/>
    </g>
</g>
<g>
    <g>
        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="355.6" y1="163.3" x2="359.8" y2="167.7"/>
        
            <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" stroke-dasharray="11.605,11.605" x1="367.7" y1="176.1" x2="507.5" y2="323.4"/>
        <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="511.5" y1="327.6" x2="515.6" y2="332"/>
    </g>
</g>
<polygon fill="#FFFFFF" points="414.3,216.1 404.7,225.2 395.3,205.6 "/>
<polygon fill="#FFFFFF" points="439.2,300.3 448.8,291.2 458.3,310.8 "/>

</svg>

            
        </div>

        <div class="small reveal" id="bdp-step1-Modal" data-reveal>
            {{> bdp-step1 }}
        </div>

        <div class="small reveal" id="bdp-step2-Modal" data-reveal>
            {{> bdp-step2 }}
        </div>

        <div class="small reveal" id="bdp-step3-Modal" data-reveal>
            {{> bdp-step3 }}
        </div>

    </div>
</div>