<a name="home"></a>
<header id="header">
    <div id="nav">
         {{> navigation}}
    </div>
    
    <div class="header-content">
        <div class="row">
            <div class="large-10 large-centered text-center medium-9 medium-centered small-12 columns">
                <p class="unit">Welcome</p>
                <h1 class="title">Backward Design</h1>
            </div>
        </div>
    <div class="row">
        <div class="small-12 small-centered medium-10 medium-centered large-12 large-centered text-center columns">
           
            <ul class="bxslider">
                <li>
                    <div id="animation1-slide1">
                        <audio id="animation1-slide1Audio">
                            <source src="{{root}}assets/audio/animation1-slide-1.mp3">
                        </audio>
                        <button aria-label="Closed Captioning" class="button tiny11" id="button11">CC</button>
                            <p class="closed-captioning-overlay11">Anne, a professor at Hill Valley University, has been teaching traditional on-ground courses for eight years and is well respected in her field. She is known for her dynamic lectures, subject expertise, and industry experience. As the enrollment of non-traditional students increased at her university, at the Dean’s request, she created and has been teaching a new online course, Introduction to Marketing.</p>    
                    </div>
                </li>
                <li>
                    <div id="animation1-slide2">
                        <audio id="animation1-slide2Audio">
                            <source src="{{root}}assets/audio/animation1-slide-2.mp3">
                        </audio>
                        <button aria-label="Closed Captioning" class="button tiny12" id="button12">CC</button>
                            <p class="closed-captioning-overlay12">She attempted to make the course more than on-screen reading assignments, even including some lecture footage from her on-ground class. During the five times she taught the online course throughout the past year, Anne conscientiously logged into the class throughout each session, made herself available to students, and was very responsive to student questions.</p> 
                    </div>
                </li>
                <li>
                    <div id="animation1-slide3">
                        <audio id="animation1-slide3Audio">
                            <source src="{{root}}assets/audio/animation1-slide-3.mp3">
                        </audio>
                        <button aria-label="Closed Captioning" class="button tiny13" id="button13">CC</button>
                            <p class="closed-captioning-overlay13">After submitting final grades and receiving student feedback, Anne was completely discouraged with the less-than-stellar student results on the final exam and negative student reviews on the end-of-course surveys. So Anne decided to attend a seminar offered by her university’s Center for Learning and Innovation to explore more effective approaches to online teaching and learning. </p> 
                    </div>
                </li>
                <li>
                    <div id="animation1-slide4">
                        <audio id="animation1-slide4Audio">
                            <source src="{{root}}assets/audio/animation1-slide-4.mp3">
                        </audio>
                        <button aria-label="Closed Captioning" class="button tiny14" id="button14">CC</button>
                            <p class="closed-captioning-overlay14">The instructional designers leading the seminar presented “A Tale of Two Courses.”</p> 
                    </div>
                </li>

                <li>
                    <div id="animation1-slide5">
                        <h2>To experience the Tale of Two Courses for yourself and learn about Pearson’s Backward Design process, scroll down.</h2>
                    </div>
                </li>
            </ul>
        </div>  
    </div>
</header>

<a name="tale-two-courses"></a>
<div id="tale-two-courses">
 <div id="nav">
    </div>
    <div class="two-courses-content">
        <div class="row">
            <div class="small-12 medium-12 large-12 text-center columns">
                <h1 class="title">Tale of Two Courses</h1>
                <h3 class="sub-title">Let’s see the difference between <strong>typical course design</strong> and <strong>Pearson’s Backward Design</strong> approach, and the impact on instructors and students. </h3>
            </div>
        </div>

        <div class="row">
            <div class="small-12 small-centered medium-10 medium-centered large-10 large-centered columns">
                <ul class="tabs show-for-small" data-tabs id="example-tabs">
                    <li class="tabs-title course-structure is-active "><a href="#panel1" aria-selected="true">Course<br />Structure</a></li>
                    <li class="tabs-title materials"><a href="#panel2">Course Materials</a></li>
                    <li class="tabs-title coverage"><a href="#panel3">Course<br />Coverage</a></li>
                    <li class="tabs-title workload"><a href="#panel4">Student<br />Workload</a></li>
                    <li class="tabs-title scores"><a href="#panel5">Student<br />Scores</a></li>
                </ul>

                <div class="tabs-content" data-tabs-content="example-tabs">
                    <div class="tabs-panel is-active" id="panel1">
                        <div class="typical-course-design">
                            <img src="{{root}}assets/img/thumbdown.svg">
                            <h3>Typical Course Design</h3>
                            <p>Instructor uses textbook as a guide to create course and syllabus.</p>
                        </div>
                        <div class="pearson-backward-design">
                            <img src="{{root}}assets/img/thumbup.svg">
                            <h3>Pearson's Backward Design</h3>
                            <p>Instructor uses course learning outcomes to guide course creation.</p>
                        </div>      
                    </div>
                
                    <div class="tabs-panel" id="panel2">
                        <div class="typical-course-design">
                            <img src="{{root}}assets/img/thumbdown.svg">
                            <h3>Typical Course Design</h3>
                            <p>Students are assigned textbook chapters in sequential order.</p>
                        </div>
                        <div class="pearson-backward-design">
                            <img src="{{root}}assets/img/thumbup.svg">
                            <h3>Pearson's Backward Design</h3>
                            <p>Instructor selects a variety of material (textbook, videos, interactive multimedia) that align with the course outcomes.</p>
                        </div>
                    </div>
                    
                    <div class="tabs-panel" id="panel3">
                        <div class="typical-course-design">
                            <img src="{{root}}assets/img/thumbdown.svg">
                            <h3>Typical Course Design</h3>
                            <p>Instructor struggles with “coverage” and trying to fit all the planned reading and activities within the course time frame.</p>
                        </div>
                        <div class="pearson-backward-design">
                            <img src="{{root}}assets/img/thumbup.svg">
                            <h3>Pearson's Backward Design</h3>
                            <p>Instructor does not strive for “coverage,” instead concentrating on what will help students master the specific course outcomes to align teaching and learning.</p>
                        </div>
                    </div>

                    <div class="tabs-panel" id="panel4">
                        <div class="typical-course-design">
                            <img src="{{root}}assets/img/thumbdown.svg">
                            <h3>Typical Course Design</h3>
                            <p>Students feel overwhelmed by the amount of reading and number of assignments that seem to be irrelevant, given the course syllabus.</p>
                        </div>
                        <div class="pearson-backward-design">
                            <img src="{{root}}assets/img/thumbup.svg">
                            <h3>Pearson's Backward Design</h3>
                            <p>Students see relevance and alignment between the syllabus, course outcomes, reading, activities, and assignments and are motivated to learn.</p>
                        </div>
                    </div>

                    <div class="tabs-panel" id="panel5">
                        <div class="typical-course-design">
                            <img src="{{root}}assets/img/thumbdown.svg">
                            <h3>Typical Course Design</h3>
                            <p>Student scores on final assessment are poor and feedback on end-of-course surveys indicates students are unsatisfied with the learning experience.</p>
                        </div>
                        <div class="pearson-backward-design">
                            <img src="{{root}}assets/img/thumbup.svg">
                            <h3>Pearson's Backward Design</h3>
                            <p>Student scores on final assessment show deep learning occurred and feedback on end-of-course surveys indicate students felt the experience was excellent.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="anne-appointment">
    <div class="row align-center align-middle">
        <div class="small-12 medium-12 align-center large-6 align-center columns">
            <p class="center"><img class="img-round1" src="{{root}}assets/img/anne-appointment.png" alt="Anne collaborates with one of the instructional designers for some insight into her class results"></p>
        </div>
        <div class="small-12 small-centered medium-12 medium-centered large-6 large-centered columns">
            <p>After the seminar, Anne made an appointment to collaborate with one of the instructional designers for some insight into her class results.</p>

            <p>At their scheduled meeting, Anne and the instructional designer discussed the context of the teaching situation, including the goals of the course, the types of students in the course, the syllabus, the instructional aids, and the problems encountered.</p>

            <p>Then the instructional designer outlined the <strong>backward design process</strong> for Anne and how it can be an effective solution to the problems she is encountering in her current course design. </p>
        </div>
    </div>
</div>

<a name="course-map"></a>
<div id="course-map">

    <div class="row">
        <div class="large-10 large-centered medium-9 medium-centered small-12 columns">
            <h1 class="title">What is Pearson's Backward Design Process?</h1>
        </div>
    </div>

     <div class="row">
        <div class="small-12 small-centered medium-10 medium-centered large-10 large-centered text-center columns">
            <!-- <img class="resize" src="{{root}}assets/img/course-map.png"> -->

            <div class="orbit two" role="region" aria-label="Course Map" data-orbit data-auto-play="false" data-options="timer: true">
               <!--  <audio id="myAudio" preload="auto" src="{{root}}assets/audio/bwd_voice_over_02.mp3"></audio> -->
                <ul class="orbit-container">
                    <button id="second-previous" class="orbit-previous"><span class="show-for-sr">Previous Slide</span> &#9664;&#xFE0E;</button>
                    <!-- <div class="circle"></div> -->
                    <button id="second-next" class="orbit-next"><span class="show-for-sr">Next Slide</span> &#9654;&#xFE0E;</button>

                    <li class="orbit-slide">
                        <div id="slide1">
                            <audio id="slide1Audio">
                                <source src="{{root}}assets/audio/animation2-slide-1.mp3">
                            </audio>
                        
                            <div id="quote">&ldquo;Beginning with the end and<br />
                                ending with the beginning.&rdquo;
                            </div>
                            
                            <button aria-label="Closed Captioning" class="button tiny1" id="button1">CC</button>
                            <p class="closed-captioning-overlay1">The Backward Design Process is also known as “teaching for understanding.” It has been described as “beginning with the end and ending with the beginning.” This probably sounds a bit ambiguous, or at least backward. This interactive tutorial will show how Anne can easily improve her class by implementing the backward design process.</p>   
                        </div>
                        
                    </li>
                    
                    <li class="orbit-slide">
                        <div id="slide2">
                            <audio id="slide2Audio">
                                <source src="{{root}}assets/audio/animation2-slide-2.mp3">
                            </audio>

                            <img class="target" src="{{root}}assets/img/bwd-coursemap-target.svg">
                            <img class="assignment" src="{{root}}assets/img/bwd-coursemap-assignment.svg">
                            <img class="book" src="{{root}}assets/img/bwd-coursemap-book.svg">
                            <img class="cloud21" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud22" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud23" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud24" src="{{root}}assets/img/bwd-coursemap-cloud.svg">

                            <button aria-label="Closed Captioning" class="button tiny2" id="button2">CC</button>
                            <p class="closed-captioning-overlay2">The first step in the backward design process is to identify desired results.</p>
                        </div>
                        
                    </li>


                    <li class="orbit-slide">
                        <div id="slide3">
                            <audio id="slide3Audio">
                                <source src="{{root}}assets/audio/animation2-slide-3.mp3">
                            </audio>
                            <img class="cloud31" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud32" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud33" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud34" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <!-- <img class="orbit-image" src="{{root}}assets/img/bwd-coursemap3.svg" alt="Space"> -->
                            <button aria-label="Closed Captioning" class="button tiny3" id="button3">CC</button>
                            <p class="closed-captioning-overlay3">To assist you in this step of the process of creating course objectives, consider the following questions:</p>
                        </div>
                    </li>

                    <li class="orbit-slide">
                        <div id="slide4">
                            <h2 class="slide4Header">GENERAL GOAL-RELATED QUESTIONS</h2>
                            
                            <ul class="slide4List">
                                <li>What should students know and be able to do at the end of this course?</li>
                                <li>What skills should students master through taking this course?</li>
                                <li>If you were in your students' shoes, what would you expect or want out of this course?</li>
                                <li>How can you instill passion/enthusiasm for this subject in your students?</li>    
                            </ul>

                            <img class="cloud41" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud42" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud43" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud44" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                        </div>
                    </li>

                    <li class="orbit-slide">
                        <div id="slide5">
                            <h2 class="slide5Header">CAREER-RELATED QUESTIONS</h2>
        
                            <ul class="slide5List">
                                <li>What essential skills should students take from this course to their careers?</li>
                                <li>How will students apply their course learning to their workplace environments?</li>
                                <li>What products, artifacts, or deliverables should students have at the end of the course to show future employers as evidence of skill mastery?</li>
                                <li>How can students bring their personal and professional experience into this course?
                            </ul>

                            <img class="cloud51" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud52" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud53" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud54" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                        </div>
                    </li>

                    <li class="orbit-slide">
                        <div id="slide6">
                            <audio id="slide6Audio">
                                <source src="{{root}}assets/audio/animation2-slide-6.mp3">
                            </audio>

                            <img class="target" src="{{root}}assets/img/bwd-coursemap-target.svg">
                                <button aria-label="Closed Captioning" class="button tiny6" id="button6">CC</button>
                                <p class="closed-captioning-overlay6">Your weekly objectives need to reinforce and support your course objectives and will help guide your decision making for your assessments, assignments, and activities.</p>
                        </div>
                    </li>

                    <li class="orbit-slide">
                        <div id="slide7">
                            <audio id="slide7Audio">
                                <source src="{{root}}assets/audio/animation2-slide-7.mp3">
                            </audio>
                            <img class="assignment" src="{{root}}assets/img/bwd-coursemap-assignment.svg" alt="Space">
                            <button aria-label="Closed Captioning" class="button tiny7" id="button7">CC</button>
                            <p class="closed-captioning-overlay7">The second in the backward design process is to determine acceptable evidence of student learning. To assist you in this step of the process of designing assessments, consider the following:</p>
                        </div>
                    </li>

                    
                    <li class="orbit-slide">
                        <div id="slide8">
                            <h2 class="slide8Header">ASSESSMENTS SHOULD:</h2>
                            <ul class="slide8List">
                                <li>Align to the course/learning objectives.</li>
                                <li>Be grounded in real-world applications.</li>
                                <li>Provide useful formative and summative feedback to the student.</li>
                                <li>Be transparent.</li>
                                <li>Be valid and reliable.</li>
                            </ul>

                            <img class="cloud81" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud82" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud83" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud84" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                        </div>
                    </li>
                    

                    <li class="orbit-slide">
                        <div id="slide9">
                            <h2 class="slide9Header">DETERMINE ACCEPTABLE EVIDENCE:</h2>
                            <ul class="slide9List">
                                <li>How can you assess students' levels of understanding?</li>
                                <li>What artifacts prove that the student gets it, owns it, can do it, and can apply it?</li>
                                <li>What assignments will allow students to explain, interpret, justify, adapt, and/or
                                    apply what they understand?</li>
                                <li>How will students be required to demonstrate understanding of these skills in the workplace?</li>
                                <li>What rubrics will be used to assess complex performance?</li>
                            </ul>

                            <img class="cloud91" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud92" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud93" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud94" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                        </div>
                    </li>


                    <li class="orbit-slide">
                        <div id="slide10">
                            <audio id="slide9Audio">
                                <source src="{{root}}assets/audio/animation2-slide-9.mp3">
                            </audio>
                             <img class="book" src="{{root}}assets/img/bwd-coursemap-book.svg">
                            <button aria-label="Closed Captioning" class="button tiny10" id="button10">CC</button>
                            <p class="closed-captioning-overlay10">The third step in the backward design process is to design instruction and learning experiences. To assist you in this step of the process, consider the following:</p>
                        </div>
                    </li>

                    <li class="orbit-slide">
                        <div id="slide11">
                            <audio id="slide10Audio">
                                <source src="{{root}}assets/audio/animation2-slide-10.mp3">
                            </audio>

                            <h2 class="slide11Header">INSTRUCTION AND LEARNING EXPERIENCES SHOULD:</h2>
                            <ul class="slide11List">
                                <li>Relate directly to the purpose of the course.</li>
                                <li>Focus on the overarching questions/issues.</li>
                                <li>Target the specific learning and performance objectives.</li>
                                <li>Include a balance of instructor-to-student, student-to-student, and student-to-content interaction.</li>
                                <li>Build community, engage students, promote peer expertise, and invite real-life experience.</li>
                            </ul>

                            <img class="cloud111" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud112" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud113" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud114" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                        </div>
                    </li>
                


                    <li class="orbit-slide">
                        <div id="slide12">
                            <audio id="slide10Audio">
                                <source src="{{root}}assets/audio/animation2-slide-10.mp3">
                            </audio>

                            <h2 class="slide12Header">QUESTIONS TO ASK:</h2>
                            <ul class="slide12List">
                                <li>What learning experiences and instruction will promote the desired
                                    understanding, knowledge, and skill in the course/learning objectives?</li>
                                <li>How will the design of the instruction and learning experiences encourage
                                    high levels of engagement?</li>
                                <li>How can you use experience-based learning, investigative learning, problem-based learning, and career-based learning 
                                    to enrich the student experience?</li>
                                <li>How can the authentic learning experiences you design be leveraged to make courses 
                                    scalable and reusable?</li>
                            </ul>

                            <img class="cloud121" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud122" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud123" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                            <img class="cloud124" src="{{root}}assets/img/bwd-coursemap-cloud.svg">
                        </div>
                    </li>
                </ul>

                <nav class="orbit-bullets">
                    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
                    <button data-slide="4"><span class="show-for-sr">Fifth slide details.</span></button>
                    <button data-slide="5"><span class="show-for-sr">Sixth slide details.</span></button>
                    <button data-slide="6"><span class="show-for-sr">Seventh slide details.</span></button>
                    <button data-slide="7"><span class="show-for-sr">Eight slide details.</span></button>
                    <button data-slide="8"><span class="show-for-sr">Ninth slide details.</span></button>
                    <button data-slide="9"><span class="show-for-sr">Tenth slide details.</span></button>
                    <button data-slide="10"><span class="show-for-sr">Eleventh slide details.</span></button>
                    <button data-slide="11"><span class="show-for-sr">Twelth slide details.</span></button>
                </nav>
           
            </div>


        </div>
    </div>
</div>

<div id="help-anne-redesign">
    <div class="row align-center align-middle">
        <div class="small-12 small-centered medium-12 medium-centered large-6 large-centered columns">
            <p>After learning about the backward design process from the instructional designer, Anne is hopeful and excited about the opportunities it will bring to her course.</p>
            <p>Now you will help Anne redesign one of the workshops in her course, using <strong>Pearson’s Backward Design Process Course Map</strong>. The Course Map is designed to help you use backward planning in your decision making.</p>

            <p>To create the Course Map, you go through three steps and record the results in table form:</p>
            
            <p class="indent">Step 1: Results and Objectives<br />
            Step 2: Evidence/Assessments<br />
            Step 3: Instruction and Learning</p>
            
            <p>We’ll see how this works as we help Anne re-design her course.</p>

            </div>
            <div class="small-12 small-centered medium-12 medium-centered large-6 large-centered columns">
                <p class="center"><img class="img-round2" src="{{root}}assets/img/help-anne-redesign.png" alt="Anne redesigns one of the workshops in her course."></p>
        </div>
    </div>
</div>


<div id="activity">
<a name="activity-one"></a>
    <div id="activity-one" class="page">
        
        <div class="row"><!--row 1-->
            <div class="large-10 text-center large-centered medium-10 medium-centered small-12 small-centered columns">
                <embed src="{{root}}assets/img/step1.svg" height="125" width="125"></embed>
                
                <h1 class="workshopHeader-one">Let's help Anne edit weekly objectives!</h1>
                <p class="sub-paragraph-one text-left">Recall that Anne is redesigning her Introduction to Marketing course.  Drag and drop two weekly objectives that support and align with the course objective. Remember, course objectives should drive the decision making!</p>
            </div>
        </div><!--row 1-->

        <div class="row"><!--row 2-->
            <div class="large-12 large-centered text-center columns">
                <div class="workshopPlan">
                    <article class="dnd-image-drag cf">
                        <h4>MKT-101: Introduction to Marketing</h4>
                        <table>
                            <tr>
                                <th>Course<br /> Objectives</th>
                                <th>Weekly<br />Learning Objectives</th>
                                <th>Assignments /<br /> Assessments /<br />Application</th>
                                <th>Instruction &amp;<br /> Learning Experiences</th>
                            </tr>
                            <tr>
                                <td><p>Evaluate how businesses are affected by variations in market conditions
                                and environments for conducting business.</p></td>
                                <td><div class="drop one" data-value="1"></div></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><div class="drop two" data-value="3"></div></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                        
                        <div id="drag-instructions">
                            <p><img src="{{root}}assets/img/drag-icon.png"><span>Drag two correct answers</span></p>
                        </div>
                        
                        <div id="next-one">
                            <a class="nextButton One">Next</a>
                        </div>
                        
                        <div class="dragSquares one">
                            <img id="2" draggable="true" src="{{root}}assets/img/step1-1a.png" class="drag" data-value="2" alt="Appreciate a customer's perspective of value.">
                            <img  id="1" draggable="true" src="{{root}}assets/img/step1-1b.png" class="drag" data-value="1" alt="Analyze how the economic, political, and legal environments affect a marketing strategy.">
                            <img  id="3" draggable="true" src="{{root}}assets/img/step1-2c.png" class="drag" data-value="3" alt="Summarize how ethical considerations affect marketing decisions.">
                        </div>
                    </article>
                    
                    <!-- Modal for correct response first activity first question -->
                    <div class="large reveal" id="activity-1a-correct-Modal" data-reveal  data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                        {{> activity-1a-correct}}
                    </div>
                    <!-- Modal for incorrect response first activity question-->
                    <div class="large reveal" id="activity-1a1-incorrect-Modal" data-reveal  data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                        {{> activity-1a1-incorrect}}
                    </div>
                    <!-- Modal for incorrect response first activity question-->
                    <div class="large reveal" id="activity-1a2-incorrect-Modal" data-reveal  data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                        {{> activity-1a2-incorrect}}
                    </div>
                    <!-- Modal for correct response first activity second question -->
                    <div class="large reveal" id="activity-1b-correct-Modal" data-reveal  data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                        {{> activity-1b-correct}}
                    </div>
                    <!-- Modal for incorrect response first activity second question-->
                    <div class="large reveal" id="activity-1b1-incorrect-Modal" data-reveal  data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                        {{> activity-1b1-incorrect}}
                    </div>        
                    <!-- Modal for incorrect response first activity second question-->
                    <div class="large reveal" id="activity-1b2-incorrect-Modal" data-reveal  data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                        {{> activity-1b2-incorrect}}
                    </div>        
                </div><!--workshopPlan-->
            </div>
        </div>
    </div><!--activity one-->


    <div id="your-own-course-one" class="page nodisplay">
        <div class="row">
            <div class="large-12 text-center medium-12 text-center small-12 small-center columns">
                 <embed src="{{root}}assets/img/step1.svg" height="125" width="125"></embed>
                <!-- <img class="headerImage" src="{{root}}assets/img/step1.svg"> -->
            </div>
        </div>

        <div class="row">
            <div class="large-12 large-centered medium-10 medium-centered small-12 small-centered text-center columns">
                <h2 class="text-left">Now that you’ve helped Anne choose weekly objectives that tie back to her course objective, think about your own course.</h2> 
            </div>
        </div>

        <div class="row">
            <div class="large-12 large-centered medium-12 medium-centered small-6 small-centered text-center columns">
                <p class="text-center">How well would you say your current weekly objectives align with your course objectives?</>
            </div>
        </div>

        <div class="row">            
            <div class="large-10 large-centered medium-12 medium-centered small-6 small-centered text-center columns">
                <!-- Not sure -->
                <img class="smile" src="{{root}}assets/img/smile5.png">
                <!-- Somewhat -->
                <img class="smile" src="{{root}}assets/img/smile2.png">
                <!-- Very  -->
                <img class="smile" src="{{root}}assets/img/smile1.png">
            </div>
        </div>

        <div class="row">            
            <div class="large-10 large-centered medium-12 medium-centered small-6 small-centered text-center columns">
                <label class="space">Not Sure</label>
                <label class="space">Somewhat</label>
                <label class="space">Very</label>
            </div>
        </div>

        <div class="row">
            
             <div class="large-10 large-centered medium-12 medium-centered small-6 small-centered text-center columns">
                <!--  <label class="break">Not Sure</label> -->
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1"></label>
                
                <!-- <label class="break">Somewhat</label> -->
                <input id="checkbox5" type="checkbox">
                <label for="checkbox5"></label>
                
                <!-- <label class="break">Very</label> -->
                <input id="checkbox6" type="checkbox">
                <label for="checkbox6"></label>   

                <div class="small reveal" id="not-sure-1-Modal" data-reveal  data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                    {{> not-sure-1}}
                </div>

                <div class="small reveal" id="somewhat-1-Modal" data-reveal  data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                    {{> somewhat-1}}
                </div>

                <div class="small reveal" id="very-1-Modal" data-reveal  data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                    {{> very-1}}
                </div>
            </div>
        </div>

        <div class="row">
            <div id="step-one" class="large-9 text-center medium-10 medium-centered small-12 columns">
              <a class="prevActivityButton goToStepOne">Prev</a>
              <a class="nextActivityButton goToStepTwo">Next</a>
            </div>
        </div>

        
    </div><!--your-own-course-one-->
    
    <div id="activity-two" class="page nodisplay">
    <div class="row">
        <div class="large-12 text-center columns">
            <embed src="{{root}}assets/img/step2.svg" height="125" width="125"></embed>
            <!-- <img class="activityHeaderImage" src="{{root}}assets/img/step2.svg"> -->
            <h1 class="workshopHeader-two">Let's help Anne edit formative assessments!</h1>
            <p class="sub-paragraph-two text-left">Let’s continue helping Anne redesign her Introduction to Marketing course.  Now that you’ve helped Anne wisely choose appropriate weekly objectives that align with her course objectives, it’s time to consider an appropriate assessment that will provide evidence of student learning.</p>
        </div>
    </div>
        
    <div class="row">
        <div class="large-12 large-centered text-center columns">
            <div class="workshopPlan">
             <article class="dnd-image-drag-two cf">
                <h4>MKT-101: Introduction to Marketing</h4>
                <table>
                    <tr>
                        <th>Course<br /> Objectives</th>
                        <th>Weekly<br />Learning Objectives</th>
                        <th>Assignments /<br />Assessments /<br />Application</th>
                        <th>Instruction &amp;<br /> Learning Experiences</th>
                    </tr>

                    <tr>
                        <td><p>Evaluate how businesses are affected by variations in market conditions
                            and environments for conducting business.</p></td>
                        <td><p>Analyze how the economic, political, and legal environments affect a marketing strategy.</p></td>
                        <td><div class="drop three" data-value="4"></div></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><p>Summarize how ethical considerations affect marketing decisions.</p></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <div id="drag-instructions-two">
                    <p><img src="{{root}}assets/img/drag-icon.png"><span>Drag one correct answer</span></p>
                </div>

                <div id="next-two">
                    <a class="prevButton Two">Prev</a>
                    <a class="nextButton Two">Next</a>
                </div>
           
                <div class="dragSquares three">
                    <img draggable="true" src="{{root}}assets/img/step2-1a.png" class="drag" data-value="4" alt="Interactive Case Study Write a synopsis of the legal dilemma encountered by the marketing manager in the scenario.">

                    <img draggable="true" src="{{root}}assets/img/step2-1b.png" class="drag" data-value="5" alt="Discussion: Contrast quantitative and qualitative data.">

                    <img draggable="true" src="{{root}}assets/img/step2-1c.png" class="drag" data-value="6" alt=" Multiple-Choice Quiz - Answer questions about ethical considerations affecting marketing decisions.">
                </div>
            </article>
            
                <!-- Modal for correct response second activity first question -->
                <div class="large reveal" id="activity-2a-correct-Modal" data-reveal data-reveal data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                    {{> activity-2a-correct }}
                </div>

                <!-- Modal for incorrect response second activity first question-->
                <div class="large reveal" id="activity-2a1-incorrect-Modal" data-reveal data-reveal data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                    {{> activity-2a1-incorrect }}
                </div>

                <!-- Modal for incorrect response second activity first question-->
                <div class="large reveal" id="activity-2a2-incorrect-Modal" data-reveal data-reveal data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                    {{> activity-2a2-incorrect }}
                </div>
            </div>
        </div>
    </div>
</div><!--activity-two-->

    <div id="your-own-course-two" class="page nodisplay">
        <div class="row">
            <div class="large-12 text-center medium-12 text-center small-12 small-center columns">
                <embed src="{{root}}assets/img/step2.svg" height="125" width="125"></embed>
                <!-- <img class="headerImage" src="{{root}}assets/img/step2.svg"> -->
            </div>
        </div>

        <div class="row">
            <div class="large-12 medium-10 small-6 columns">
                <h2 class="text-left">Now that we’ve talked about evidence, think about formative and summative assessments you can use in your course.</h2>
                
                <p class="text-center">Reflect on what evidence you will collect as proof that students have mastered each objective in your course.</p>

            </div>
        </div>

        <div class="row">
            <div id="step-two" class="large-9 text-center medium-10 medium-centered small-12 columns">
              <a class="prevActivityButton goToStepTwo">Prev</a>
              <a class="nextActivityButton goToStepThree">Next</a>
            </div>
        </div>
    </div>

    <div id="activity-three" class="page nodisplay">    
    <div class="row">
        <div class="large-12 text-center columns">
            <embed src="{{root}}assets/img/step3.svg" height="125" width="125"></embed>
            <!-- <img class="activityHeaderImage" src="{{root}}assets/img/step3.svg"> -->
            <h1 class="workshopHeader-three">Let's help Anne edit instruction &amp; learning experiences!</h1>
            <h3 class="workshopSubHeader"></h3>
            <p class="sub-paragraph-three text-left">Frequently, instructors focus on coverage of material, but having a student read a textbook cover to cover is too much information. Rather, instead of covering huge amounts of content, current research suggests that focusing on fewer topics and core understandings is more likely to increase student achievement.</p>

            <p class="sub-paragraph-four text-left">Anne might have to give up certain favorite activities or textbook chapters that don’t align with the course objectives and/or support students in mastering those objectives.</p>
            
            <p class="sub-paragraph-five text-left">Let's continue to help Anne redesign her Introduction to Marketing course.  Choose which learning experience will best support one of her weekly learning objectives. </p>
        </div>
    </div>

    <div class="row">
        <div class="large-12 large-centered text-center columns">
            <div class="workshopPlan">
                <article class="dnd-image-drag-three cf">
                    <h4>MKT-101: Introduction to Marketing </h4>
                    <table>
                        <tr>
                            <th>Course<br /> Objectives</th>
                            <th>Weekly<br />Learning Objectives</th>
                            <th>Assignments /<br />Assessments /<br />Application</th>
                            <th>Instruction &amp;<br /> Learning Experiences</th>
                        </tr>

                        <tr>
                            <td><p>Evaluate how businesses are affected by variations in market conditions
                                and environments for conducting business.</p></td>
                            <td><p>Analyze how the economic, political, and legal environments affect a marketing strategy.</p> </td>
                            <td><p><strong>Interactive Case Study:</strong>
                                Write a synopsis of the legal dilemma encountered by the marketing manager in the scenario.</p></td>
                            <td><div class="drop five" data-value="2"></div></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td><p>Summarize how ethical considerations affect marketing decisions.</p></td>
                            <td><p></p></td>
                            <td><div class="drop six" data-value="3"></div></td>
                        </tr>
                    </table>

                    <p class="anne-continues text-left">Anne continues to re-design her course using the Pearson Course Map and Backward Design process. She then reteaches the re-designed course five times over the next year and is pleased with the student results on the Final Project and receives positive student reviews on the student end-of-course surveys.</p>

                    <div id="drag-instructions-three">
                        <p><img src="{{root}}assets/img/drag-icon.png"><span>Drag one correct answer</span></p>
                    </div>

                    <div id="next-three">
                        <a class="prevButton Three">Prev</a>
                        <a class="nextButton Three">Next</a>
                    </div>
               

                    <div class="dragSquares five">
                        <img draggable="true" src="{{root}}assets/img/step3-1a.png" class="drag" data-value="2" alt="Custom Multimedia: Making a Socially Responsible Marketing Plan">

                        <img draggable="true" src="{{root}}assets/img/step3-2c.png" class="drag" data-value="1" alt="Textbook Reading: Chapter 6: Supply Chains and Logistics">

                        <img draggable="true" src="{{root}}assets/img/step3-1c.png" class="drag" data-value="3" alt="Video: Product life cycle">
                    </div>
                </article>
            

                <!-- Modal for correct response third step first question -->
                <div class="large reveal" id="activity-3a-correct-Modal" data-reveal data-reveal data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                    {{> activity-3a-correct}}
                </div>

                <!-- Modal for incorrect response third step first question-->
                <div class="large reveal" id="activity-3a2-incorrect-Modal" data-reveal data-reveal data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                    {{> activity-3a2-incorrect}}
                </div>

                <!-- Modal for incorrect response third step second question-->
                <div class="large reveal" id="activity-3b2-incorrect-Modal" data-reveal data-reveal data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast">
                    {{> activity-3b2-incorrect}}
                </div>

            </div><!--workshopPlan-->
        </div>
    </div>
</div>

    <div id="your-own-course-three" class="page nodisplay">
        <div class="row">
        <div class="large-12 text-center medium-12 text-center small-12 small-center columns">
            <embed src="{{root}}assets/img/step3.svg" height="125" width="125"></embed>
            <!-- <img class="headerImage" src="{{root}}assets/img/step3.svg"> -->
        </div>
    </div>

        
        <div class="row">
            <div class="large-12 medium-10 small-6 columns">
                <h2 class="text-left">Reflecting on your own course, what activities should you preserve and which should you remove to achieve alignment with your course objectives and promote enduring understanding (an understanding that can be remembered and applied long after a course is over)?</h2>
            </div>
        </div>

        <div class="row">
            <div id="step-three" class="large-9 text-center medium-10 medium-centered small-12 columns">
                <a class="prevActivityButton goToStepThree">Prev</a>
                <a class="nextActivityButton goToWhatDidYouLike">Next</a>
            </div>   
        </div>

        
    </div>
    

    <div id="what-did-you-like" class="page nodisplay">
        <div class="row">
            <div class="large-12 text-center medium-12 text-center small-12 small-center columns">
                                
                <h3 class="text-left">Throughout this module, you’ve seen various multimedia features Pearson can create to make your course material and activities more engaging. Reflect on which of these you would you be interested in using in your own course.</h3>

                <h3>Which Multimedia Features Would You Want to Use in Your Course?</h3>
                
                <ul class="text-left">
                    <li>Animation</li>
                    <li>Professional Narration</li>
                    <li>Drag-n-Drop</li>
                    <li>Customized Guided Feedback</li>
                    <li>Custom Images and Illustrations</li>
                    <li>Multiple Select</li>
                    <li>Embedded Real-World Documents</li>
                </ul>   
            </div>
        </div>
        <div class="row">
            <div class="large-9 text-center medium-10 medium-centered small-12 columns">
                <a class="prevActivityButton goToOwnCourseThree">Prev</a>
                <a class="nextActivityButton goToYourCourse">Next</a>
            </div>   
        </div>
    </div>

    <div id="your-course" class="page nodisplay">
        <div class="row align-center align-middle">
            <div class="small-12 medium-12 align-center large-6 align-center columns">
                <p class="center"><img class="img-round2" src="{{root}}assets/img/your-course.png" alt="Anne collaborates with one of the instructional designers for some insight into her class results"></p>
            </div>
            <div class="small-12 medium-12 large-6 columns">
                <h3 class="text-left">Are you ready to explore effective and innovative approaches to online teaching and learning and to apply the Backward Design approach to your course? </h3>

                <p class="text-left">Arrange a collaboration meeting with your Pearson instructional designer to brainstorm creative approaches for your online course design.</p>

                <p class="text-left">We are excited to work with you in creating engaging and meaningful online learning experiences for your students!</p>
            </div>
        </div>
    </div>
</div><!--Activity-->



