#header {
    @include sectionStyles;
    @include backgroundBlue;
    @include splash;
    @include imageSize;

    display: flex;
    width: 100vw;
    height: 100vh;
    color: $gray-light;

    #nav {
        position: fixed;
        z-index: 12;  
        right: 0;  
        top: 0;
    }

    .header-content {
        z-index: 2;
        margin-left: auto;
        margin-right: auto;
        //position: relative;

        // -webkit-transform: translate3d(0px, -50%, 0);
        // -moz-transform: translate3d(0px, -50%, 0);
        // -o-transform: translate(0px, -50%);
        // -ms-transform: translate3d(0px, -50%, 0);
        // transform: translate3d(0px, -50%, 0);

        .unit {
            font-size: 3rem;
            padding: .5rem 3.5rem;
            margin-bottom: 1rem;
            //border: 1px solid $gray-light;
            display: inline-block;
            font-weight: 300;
        }
    }

    .scrollDown {
        position: absolute;
        bottom: 10px;
        left: 50%;
        width: 30px;
        height: 50px;
        margin-left: -15px;
        border: 2px solid #fefefe;
        border-radius: 50px;
        box-sizing: border-box;
        &::before {
            position: absolute;
            bottom: 30px;
            left: 50%;
            content: '';
            width: 6px;
            height: 6px;
            margin-left: -3px;
            background-color: #fefefe;
            border-radius: 100%;
            -webkit-animation: 2s infinite scrollDown;
            -moz-animation: 2s infinite scrollDown; 
            animation: 2s infinite scrollDown;
            box-sizing: border-box;
        }
    }

    @keyframes scrollDown {
        0% {
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            transform: translate(0, 20px);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}

#tale-two-courses {
    @include sectionStyles;
    @include backgroundGray;

    h1, h3, p {
        color: $white;
    }

    display: flex;
    flex-flow: column; 
    
    width: 100vw;
    min-height: 100%;

    .two-courses-content {
        position: relative;
        z-index: 2;
        top: 3%;
        //@include transform(translate3d(0px, -50%, 0));
    }

    .typical-course-design img {
        height: 75px;
        width: 75px;
    }

    .pearson-backward-design img {
        height: 75px;
        width: 75px;
    }
}

/* FIRST SLIDE ANIMATION */
#animation1-slide1 {
    @include slideSize;
    @include animation1-margin;
    background: url(../img/bwd-intro-01.svg) center no-repeat;
    z-index: 10;
}

#animation1-slide2 {
    @include slideSize;
    @include animation1-margin;
    background: url(../img/bwd-intro-02.svg) center no-repeat;
    z-index: 10;
}

#animation1-slide3 {
    @include slideSize;
    @include animation1-margin;
    background: url(../img/bwd-intro-03.svg) center no-repeat;
    z-index: 10;
}

#animation1-slide4 {
    @include slideSize;
    @include animation1-margin;
    background: url(../img/bwd-intro-04.svg) center no-repeat;
    z-index: 10;
}

#animation1-slide5 {
    @include slideSize;
    @include animation1-margin;
    background-color: #87acbe;
    z-index: 10;
    padding-top: 12rem;

    h2 {
        color: $white;
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

#your-course,
#anne-appointment {
    @include sectionStyles;
    @include backgroundGrayLight;
    @include center-image;

    overflow-y: visible;
    display: flex;

    .img-round1 {
        @include imgRound;

    }

    .img-round2{
        @include imgRoundTwo;

    }
}

#backward-design-process {
    @include sectionStyles;
    @include backgroundGray;
    @include imageCentered;
    @include white;

    width: 100vw;
    min-height: 100%;

    h2 {
       color: $blue-light;
    }   

    
}

/* SVG  STYLES FOR THE CLICKABLE WHITE CIRCLES */
circle.plus1 {
    fill: #FFFFFF;

    &:hover {
        fill: #0080a3;
        cursor: pointer;
    }
}

circle.plus2 {
    fill: #FFFFFF;

    &:hover {
        fill: #f96c00;
    }
}

circle.plus3 {
    fill: #FFFFFF;

    &:hover {
        fill: #50585a;
    }
}

rect.rectangleHover {
    fill: #FFFFFF;
}

#firstCircle:hover ~ #firstRectangle,
#firstCircle:hover ~ #secondRectangle,
#secondCircle:hover ~ #thirdRectangle,
#secondCircle:hover ~ #fourthRectangle,
#thirdCircle:hover ~ #fifthRectangle,
#thirdCircle:hover ~ #sixthRectangle {
    fill: #FFFFFF;
}

#help-anne-redesign {
    @include sectionStyles;
    @include backgroundGrayLight;
    @include center-image;
    background-color: #dddddd;
    overflow-y: hidden;
    display: flex;

    .img-round2 {
        @include imgRound;
    }

    p.indent {
        margin-left: 3rem;
    }
}

#course-map {
    @include sectionStyles;
    @include backgroundBlue;
    @include splash;
    @include imageSize;
    @include white;

    width: 100vw;
    height: auto;   
}

/* SLIDE ANIMATION 1 - CLOSED CAPTIONING BUTTONS */
.button.tiny11,
.button.tiny12,
.button.tiny13,
.button.tiny14
    {
    @include closed-captioning-button-one;   
}

.closed-captioning-overlay11,
.closed-captioning-overlay12,
.closed-captioning-overlay13,
.closed-captioning-overlay14 {
    @include closed-captioning-overlay-one;
}

/* SLIDE ANIMATION 2 - CLOSED CAPTIONING BUTTONS */
.button.tiny1,
.button.tiny2,
.button.tiny3,
.button.tiny6,
.button.tiny7,
.button.tiny10
    {
    @include closed-captioning-button;   
}


.closed-captioning-overlay1,
.closed-captioning-overlay3,
.closed-captioning-overlay10
    {
    @include closed-captioning-overlay;
}

.closed-captioning-overlay2,
.closed-captioning-overlay6 {
    @include closed-captioning-overlay;
    top: 500px;
}

.closed-captioning-overlay7 {
    @include closed-captioning-overlay;
    width: 968px;
}

.closed-captioning-overlay8
    {
    @include closed-captioning-overlay;
    top: 497px;
}

/* The following styles are for the closed captioning overlays */
// .closed-captioning-overlay > a {
//     display: block;
//     position: relative;
//     height: 100%;
//     width: 100%;
//     overflow: hidden;
//     padding: 0;
//     z-index: 5;
// }

// .closed-captioning-overlay-overlay > a .closed-captioning-overlay-info {
//     background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
//     height: 100%;
//     width: 100%;
//     line-height: 1.33;
//     padding: 33% 12% 0;
//     position: absolute;
//     top: 100%;
//     transition: all 0.25s ease-out 0s;
// }

// .closed-captioning-overlay-overlay > a:hover .closed-captioning-overlay-info {
//     top: 0;
// }

// .closed-captioning-overlay-overlay > a:hover .closed-captioning-overlay-info p {
//     color: red;
//     font-size: 130%;
//     margin-bottom: -5px;
// }

// .closed-captioning-overlay-overlay > a:hover .closed-captioning-overlay-info h4, .closed-captioning-overlay-overlay > a .closed-captioning-overlay-info h4 {
//     color: #fff;   
//     line-height: 25px;
// }
/* END closed-captioning-overlay OVERLAYS */

#slide1 {
    @include slideSize;

     -webkit-animation-delay: 18s; -moz-animation-delay: 18s; 
 -o-animation-delay: 18s; animation-delay: 18s;
    
    background: url(../img/bwd-coursemap1.svg) center no-repeat;
    padding-top: 13em;

    #quote {
        font-family: 'Open Sans', sans-serif;
        font-size: 3.5rem;
        font-style: italic;
        font-weight: 600;
        color: $white;
        width: 760px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.2;

    }
}

#slide2 {
    @include slideSize;
    background: url(../img/bwd-coursemap2.svg) center no-repeat;
    z-index: 10;
    
    .target {
        // @include transform(scale(0));
        // opacity: 0;
        position: absolute;
        top: 18rem;
        left: 4rem;    
        width: 12rem;
        height: 12rem;
    }

    .assignment {
        // @include transform(scale(0));
        // opacity: 0;
        position: absolute;
        top: 27rem;
        left: 25rem;
        width: 12rem;
        height: 12rem;
    }
    
    .book {
        // @include transform(scale(0));
        // opacity: 0;
        position: absolute;
        top: 19rem;
        left: 47rem;
        width: 12rem;
        height: 12rem;
    }

    .cloud21 {
        position: absolute;
        top: 2rem;
        right: 0;
        height: 8rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud22 {
        position: absolute;
        top: 8rem;
        right: 2rem;
        height: 12rem;
        width: 20rem;
        z-index: 1;
    }

    .cloud23 {
        position: absolute;
        top: 4rem;
        right: 12rem;
        height: 8rem;
        width: 12remx;
        z-index: 1;
    }

    .cloud24 {
        position: absolute;
        top: -2rem;
        right: 16rem;
        height: 6rem;
        width: 10rem;
        z-index: 1;
    }
}

#slide3 {
    @include slideSize;
    background: url(../img/bwd-coursemap3.svg) center no-repeat;

    .cloud31 {
        position: absolute;
        top: 2rem;
        right: 0;
        height: 8rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud32 {
        position: absolute;
        top: 1rem;
        right: 2rem;
        height: 12rem;
        width: 20rem;
        z-index: 1;
    }

    .cloud33 {
        position: absolute;
        top: 1.5rem;
        right: 8rem;
        height: 8rem;
        width: 12remx;
        z-index: 1;
    }

    .cloud34 {
        position: absolute;
        top: -2rem;
        right: 16rem;
        height: 6rem;
        width: 10rem;
        z-index: 1;
    }
}

#slide4 {
    @include slideSize;
    @include slideText;
    background: url(../img/bwd-coursemap4.svg) center no-repeat;
    color: $black;

    .cloud41 {
        position: absolute;
        top: 31rem;
        right: 2rem;
        height: 10rem;
        width: 12rem;
        z-index: 1;
    }

    .cloud42 {
        position: absolute;
        top: 33rem;
        right: 0;
        height: 8rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud43 {
        position: absolute;
        top: 31rem;
        right: 40rem;
        height: 6rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud44 {
        position: absolute;
        top: 33rem;
        right: 36rem;
        height: 4rem;
        width: 8rem;
        z-index: 1;
    }
}

#slide5 {
    @include slideSize;
    @include slideText;
    
    background: url(../img/bwd-coursemap5.svg) center no-repeat;

    .cloud51 {
        position: absolute;
        top: 30rem;
        right: 2rem;
        height: 10rem;
        width: 12rem;
        z-index: 1;
    }

    .cloud52 {
        position: absolute;
        top: 32rem;
        right: 0;
        height: 8rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud53 {
        position: absolute;
        top: 31rem;
        right: 40rem;
        height: 6rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud54 {
        position: absolute;
        top: 33rem;
        right: 36rem;
        height: 4rem;
        width: 8rem;
        z-index: 1;
    }
}

#slide6 {
    @include slideSize;
    background: url(../img/bwd-coursemap6.svg) center no-repeat;
    z-index: 10;
    
    .target {
        @include transform(scale(0));
        opacity: 0;
        position: absolute;
        top: 11rem;
        left: 11rem;    
        width: 22rem;
        height: 22rem;
    }
}

#slide7 {
    @include slideSize;
    background: url(../img/bwd-coursemap7.svg) center no-repeat;

    .assignment {
        @include transform(scale(0));
        opacity: 0;
        position: absolute;
        top: 13rem;
        left: 19rem;
        width: 22rem;
        height: 22rem;
    }
}

#slide8 {
    @include slideSize;
    @include slideText;
    background: url(../img/bwd-coursemap8.svg) center no-repeat;
    padding-top: 4rem;

    .cloud81 {
        position: absolute;
        top: 30rem;
        right: 2rem;
        height: 10rem;
        width: 12rem;
        z-index: 1;
    }

    .cloud82 {
        position: absolute;
        top: 32rem;
        right: 0;
        height: 8rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud83 {
        position: absolute;
        top: 31rem;
        right: 18rem;
        height: 6rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud84 {
        position: absolute;
        top: 30rem;
        right: 12rem;
        height: 4rem;
        width: 8rem;
        z-index: 1;
    }
}


#slide9 {
    @include slideSize;
    @include slideText;
    background: url(../img/bwd-coursemap8.svg) center no-repeat;
    padding-top: 2rem;

    ul.slide9List {
        position: absolute;
        z-index: 10;
        margin-left: 14rem;
    }

    li.orbit-slide {
        z-index: 10;
        position: relative;
    }

    .cloud91 {
        position: absolute;
        top: 30rem;
        right: 2rem;
        height: 10rem;
        width: 12rem;
        z-index: 1;
    }

    .cloud92 {
        position: absolute;
        top: 32rem;
        right: 0;
        height: 8rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud93 {
        position: absolute;
        top: 31rem;
        right: 18rem;
        height: 6rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud94 {
        position: absolute;
        top: 30rem;
        right: 12rem;
        height: 4rem;
        width: 8rem;
        z-index: 1;
    }
}

#slide10 {
    @include slideSize;
    background: url(../img/bwd-coursemap9.svg) center no-repeat;
    padding-top: 3rem;

    .book {
        @include transform(scale(0));
        opacity: 0;
        position: absolute;
        top: 16rem;
        left: 30rem;
        width: 22rem;
        height: 22rem;
    }
}

#slide11 {
    @include slideSize;
    @include slideText;
    background: url(../img/bwd-coursemap8.svg) center no-repeat;
    padding-top: 3rem;

    
    ul.slide11List {
        position: absolute;
        z-index: 10;
        margin-left: 14rem;
    }

    li.orbit-slide {
        z-index: 10;
        position: relative;
    }

    .cloud111 {
        position: absolute;
        top: 30rem;
        right: 2rem;
        height: 10rem;
        width: 12rem;
        z-index: 1;
    }

    .cloud112 {
        position: absolute;
        top: 32rem;
        right: 0;
        height: 8rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud113 {
        position: absolute;
        top: 31rem;
        right: 18rem;
        height: 6rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud114 {
        position: absolute;
        top: 30rem;
        right: 12rem;
        height: 4rem;
        width: 8rem;
        z-index: 1;
    }
}

#slide12 {
    @include slideSize;
    @include slideText;
    background: url(../img/bwd-coursemap8.svg) center no-repeat;
    

    ul.slide12List {
        position: absolute;
        z-index: 10;
        margin-left: 14rem;
    }

    li.orbit-slide {
        z-index: 10;
        position: relative;
    }

    .cloud121 {
        position: absolute;
        top: 30rem;
        right: 2rem;
        height: 10rem;
        width: 12rem;
        z-index: 1;
    }

    .cloud122 {
        position: absolute;
        top: 32rem;
        right: 0;
        height: 8rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud123 {
        position: absolute;
        top: 31rem;
        right: 18rem;
        height: 6rem;
        width: 10rem;
        z-index: 1;
    }

    .cloud124 {
        position: absolute;
        top: 30rem;
        right: 12rem;
        height: 4rem;
        width: 8rem;
        z-index: 1;
    }
}


.nodisplay {
    transform:translateX(100%);
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    max-height: 100%;
}

.on {
    transform:translateX(0);
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

#activity {
    position: relative;
    width: 100vw;
    min-height: 100%;
}

#activity-one, 
#activity-two, 
#activity-three {
    @include sectionStyles;
    @include activityHeaderImage;
    @include backgroundGrayLight;   
    @include workshopPlan;
    @include activity;
       
    float: left;
    display: inline-block;

    p.anne-continues {
        display: none;
    }

}

.workshopSubHeader {
    display: none;
}

p.not-sure,
p.somewhat,
p.very {
    width: 95%;
}

#your-own-course-one, 
#your-own-course-two, 
#your-own-course-three,
#what-did-you-like {
    @include sectionStyles;
    @include headerImage;
    @include backgroundYellow;
    @include white;
    @include yourOwnCourse;

    float: left;
    display: inline-block;
    max-height: 100%;
}

/**********************************
 DRAG AND DROP 
**********************************/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/* Hide these drag squares until the first 
   question of each activity is answered correctly 
*/
.dragSquares.two,
.dragSquares.four,
.dragSquares.six {
    display: none;
}

.dragSquares.five {
    margin-top: 4rem;
}

 
//.drop.two,
.drop.four, 
.drop.six {
    display: none; // Do now show this div until the first question of the activity is correctly placed
    margin-top: 8px;
}


.drop {
    position: relative;
    //top: -34px;
    height: 80px;
    width: 171px;
    display: inline-block;
    margin: 0;
    background: $gray-lighter;
    border: 2px dashed $yellow;
    overflow: hidden;
    //@include border-top-radius(10px);
    //@include border-bottom-radius(10px);

    &:after {
        content: "drop here";
        //margin-top: 5px;
        height: 80px;
        width: 171px;
        text-align: center;
        font-size: 1.25rem;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &.drop-active {
        border: dashed 2px $green;
    }
    &.correct {
        border: dashed 2px #32ce74;
    }
    &.incorrect {
        border: dashed 2px #c0392b;

        img {
            opacity: 0;
        }

        &:before {
            content: "oops, try again";
            height: 80px;
            width: 171px;
            text-align: center;
            font-size: 1.25rem !important;
            opacity: 0.75;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }  
}

/*************************************
 DRAG AND DROP MODALS
**************************************/

#answer-wrapper {
    @include button-hollow;

    // Prevent page jump when modal opens
    // http://foundation.zurb.com/forum/posts/38019-scrollbar-page-jump-on-reveal-open
    .reveal-overlay {
        overflow-y: hidden;
    }

    .answer-text, .answer-image {
        float: left;
        margin-left: auto;
        margin-right: auto;

        img {
            width: 12rem;
            height: auto;
        }
    }
    .answer-text {
        padding: 4rem 2rem 6rem 8rem;
        width: 75%;

        h2 {
            line-height: 1.2;
            color: $blue-light;
            padding-bottom: 40px;
        }

        p, ol {
            font-size: 1rem;
        }

        ol {
            margin-left: 5.25rem;
        }

       ul.two-columns  {
            list-style-type: disc;
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            list-style-position: inside;//this is important addition
            margin-left: 50px;
            font-size: 1rem;
        }    
    }
    .answer-image {
        padding-top: 18px;
        width: 25%;
    }
}

#next-one,
#next-two,
#next-three {
    margin-top: 5em;
}

#next-one,
#next-two,
#next-three {
    display: none;
}

.prevButton,
.nextButton, { 
    @include button($black, $gray, $white);    
}

.nextButtonBlue, { 
    @include button($blue, $blue-dark, $white);   
}

.nextButtonRed, { 
    @include button($red, $red-light, $white);   
}

.nextButtonGreen, { 
    @include button($green, $green-light, $white);   
}

.prevActivityButton,
.nextActivityButton, { 
    @include button($black, $black-light, $white);   
}
    
.goToNextOne {
    display: none;
}

label.space {
    display: inline-block;
    width: 7rem;
}

input[type='checkbox'] + label, [type='radio'] + label {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    vertical-align: baseline;
    width: 7rem;
}


input[type="checkbox"] + label::before {
    content: '\a0';
    display: inline-block;
    vertical-align: 0.2;
    width: 1.2em;
    height: 1.2em;
    border-radius: .2em;
    background: white;
    border: 1px solid #ddd;
    text-indent: .15em;
    line-height: .65;
}

input[type="checkbox"]:checked + label::before {
  content: '\2713';
  background: white;
  border: 1px solid #ddd;
}

/* Hide the original checkbox in an accessible way.  
 * We can't use display: none because that would 
 * remove it from the keyboard tabbing order.
 */
input[type="checkbox"] {
  position: absolute;
  clip: rect(0,0,0,0);
}


/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

ul.bxslider li {
    width: 986px;
    height: 610px;
}

.bx-wrapper {
    width: 969px;
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    //max-width: 100%;
    max-width: 969px;
    display: block;
    margin-left: -20px;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    //-moz-box-shadow: 0 0 5px #ccc;
    //-webkit-box-shadow: 0 0 5px #ccc;
    //box-shadow: 0 0 5px #ccc;
    //border:  5px solid #fff;
    left: 0;
    background: #fff;
    
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../img/bx_loader.gif) center center no-repeat #fff;
    height: 610px;
    width: 969px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    text-indent: -9999px;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.1rem;
    margin-right: 2rem;
    border: 1px solid #fefefe;
    border-radius: 50%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fefefe;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../img/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../img/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}

#first-previous.orbit-previous,
#first-next.orbit-next,
.orbit-previous,
.orbit-next {
    color: $black-light;
    font-size: 50px;
}

#first-previous.orbit-previous:hover,
#first-next.orbit-next:hover,
.orbit-previous:hover,
.orbit-next:hover {
    color: $white;
}

#second-previous {
    display: none;
}
// .hide {
//     display: none;
// }

/* SECOND SLIDE ANIMATION */
// .orbit-previous {
//     display: none;
// }

// .show {
//     display: inline;
// }




