<div id="answer-wrapper">
    <div class="answer-text">
        <h2>Interactive Case Study - Write a synopsis of the legal dilemma encountered by the marketing manager in the scenario.</h2>
        
        <p><strong>Correct!</strong></p>
        
        <p>Having students “write” to demonstrate their comprehension is a valid way to measure a student’s ability to “summarize” content.</p>
        
        <p>The verb in the activity is at the same level as the objective and the topic is valid and aligns with the objective. This assessment will measure student performance and provide evidence of student mastery of this objective.</p>

    </div>

    <div class="answer-image">
        <img src="{{root}}assets/img/correct.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">
        <a class="nextButtonGreen" data-close>Return</a>
    </div>
    
</div>