<div id="answer-wrapper">
    <div class="answer-text">
        <h2>Describe how marketing research data is analyzed and compare qualitative and quantitative data.</h2>        
        <p>This objective has a couple of things wrong with it.</p>
        
        <ul>
            <li>The learning objective is complex.<br />

            A complex objective usually contains multiple action verbs. Here a student is being asked to describe one learning object and compare another separate object. Guidelines for objectives is that they should only contain one action verb.</li>
        </ul>

        <p>To fix this, we can either re-write the objective so it only has one action verb, or break it into two objectives. Most objectives have a single verb so that student performance can be clearly measured.</p>
        
        <ul>
            <li>The learning objective as stated doesn’t support the course objective.<br />

            Remember, we must always refer BACK to our course objectives. There currently does not exist a clear connection of support from the weekly objective to the course objective.</li>
        </ul>

        <p>For more information on how to write learning objectives, view </p>

        <p><strong>Pearson’s Job Aid for Writing Course objectives and Lesson Objectives</strong>.</p>

    </div>

    <div class="answer-image">
        <img src="{{root}}assets/img/incorrect.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">
        <a class="nextButtonRed" data-close>Try again</a>
    </div>
</div>