<div id="answer-wrapper">
    <div class="answer-text">
        <h2>Appreciate a customer's perspective of value.</h2>
        <p>This objective should not be used because “appreciate” is not an appropriate action verb. It is subjective and cannot be observed or measured.</p>

        <p>Here are additional verbs you want to avoid using for the same reason:</p>

            <ul class="two-columns">
            <li>Know</li>
            <li>Become aware of</li>
            <li>Learn</li>
            <li>Understand</li>
            <li>Be familiar with</li>
            <li>Clarify</li>
            <li>Explore</li>
            <li>Investigate</li>
            <li>Research</li>
            </ul>

        <p>The words in this list represent a content-centered approach to objectives. The learners are not asked to do anything with the knowledge/skills they have acquired. You cannot directly observe students doing the things on this list. </p>

        <p>When choosing action verbs, think action. What students need to DO to prove their understanding is the action verb you are truly looking for.</p>

    </div>

    <div class="answer-image">
        <img src="{{root}}assets/img/incorrect.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">   
        <a class="nextButtonRed" data-close>Try again</a>
    </div>
</div>