<div id="answer-wrapper">
    <div class="answer-text">
        <h2>Discussion: Contrast Quantitative and Qualitative Data</h2>
        
        <p>If an assessment is intended to measure ethical considerations in marketing, but instead measures student understanding of completely unrelated concepts such as quantitative and qualitative data, the assessment is not valid.</p>

        <p>Remember that objectives are the filters for your course. Choose assessments that will measure student performance and provide evidence of student mastery of objectives.</p>



    </div>

    <div class="answer-image">
        <img src="{{root}}assets/img/incorrect.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">
        <a class="nextButtonRed" data-close>Try again</a>
    </div>
</div>