<div id="answer-wrapper">
    <div class="answer-text">
        <h2>Explain the types of decisions marketers make and analyze the role marketing plays in an organization.</h2>
        
        <p>This objective should not be used, as it has a couple of things wrong with it.</p>

        <ul>
            <li><strong>Objective is complex.</strong><br />
            A complex objective usually contains multiple action verbs. Here a student is being asked to explain one learning object and analyze another.d Preferred guidelines for objectives is that they should only contain one action verb.<br />

            To fix this, we can either re-write the objective so it only has one action verb, or break it into two objectives. Most objectives have a single verb so that student performance can be clearly measured.</li>

            <li><strong>Learning Objects as stated don’t support the course objective.</strong><br />

            Remember, we must always refer <strong>BACK</strong> to our course objectives. There currently does not exist a clear connection of support from the Weekly Objective to the Course Objective.</li>
        </ul>
    
        <p>For more information on how to write learning objectives, view <strong><ul>Pearson’s Job Aid for Writing Course objectives and Lesson Objectives</ul></strong>.</p>


    </div>

    <div class="answer-image">
        <img src="{{root}}assets/img/incorrect.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">   
        <a class="nextButtonRed" data-close>Try again</a>
    </div>
</div>