<div id="answer-wrapper">
    <div class="answer-text">
        <h2>Analyze how the economic, political, and legal environments affect a marketing strategy.</h2>
        <p>This is a correct answer! This weekly objective should be used based on the affirmative answers to the following questions:
 </p>
        <ol>
            <li>Does it support the overall arch of the course objective? Yes, this objective focuses on how different environments (economic, political, and legal) affect the marketing strategy, which in turn supports the course’s overall objective of evaluating how such environments affect businesses. </li>

            <li>Is the objective measureable? Yes, “analyze” is an action verb that can be both observed and measured using multiple methods. </li>

            <li>Does it scaffold learning? Yes, the weekly objective is written at or below the course objective’s Level of Learning, as noted in Bloom’s Taxonomy.</li>
        </ol>
        <p>For more information on how to write learning objectives, view <strong><a href="{{root}}assets/docs/pearson-writing-course-outcomes-lesson-objectives.pdf" target="_blank">Pearson’s Job Aid for Writing Course Objectives and Lesson Objectives</a></strong>.</p>
    </div>

    <div class="answer-image">
        <img src="{{root}}assets/img/correct.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">
        <a class="nextButtonGreen" data-close>Return</a>
    </div>
</div>