<div id="answer-wrapper">
    <div class="answer-text">
        
        <h2>Summarize how ethical considerations affect marketing decisions.</h2>

        <p>Good Choice!</p>
        
        <p>It supports the course objective. </p>
        
        <p>A weekly objective has a narrower scope than a course objective and describes the knowledge or skills a learner will need to have in order to successfully achieve the course objective.</p>
        
        <ul>
            <li>Objective is measureable.<br />
            
            “Summarize” is an action verb that can be both observed and measured using multiple methods.</li>
            
            <li>It scaffolds learning.<br />
            The weekly objective is written at or below the course objective’s level of learning, as noted in Bloom’s Taxonomy.</li>
        </ul>

        <p>For more information on how to write learning objectives, view <strong><a href="{{root}}assets/docs/pearson-writing-course-outcomes-lesson-objectives.pdf" target="_blank">Pearson’s Job Aid for Writing Course Objectives and Lesson Objectives</a></strong>.</p>

    </div>

    <div class="answer-image">
        <img src="{{root}}assets/img/correct.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">
        <a class="nextButtonGreen" data-close>Return</a>
    </div>
</div>