<div id="answer-wrapper">
    <div class="answer-text">
       

    <h2>Chapter 6: Supply Chains and Logistics</h2>

    <p>Not quite.</p>

    <p>Double-check your course/weekly objective for alignment. </p>

    <p>We’re looking for learning experiences and instruction that will reinforce a student’s ability to summarize how ethical considerations affect marketing decisions.</p>

    <p>Don’t feel like you need to use every chapter of the textbook.  Use the course/weekly objectives to selectively use the textbook chapters that align.</p>




    </div>

    <div class="answer-image">
        <img src="{{root}}assets/img/incorrect.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">
        <a class="nextButtonRed" data-close>Try again</a>
    </div>
</div>