<div id="answer-wrapper">
    <div class="answer-text">
       
        <h2>Discussion: How far is too far</h2>
        <p>Correct!  This is a great learning resource or if you make it graded becomes an assessment.</p>

        <h2>Video: Dilemma of Stealth Marketing</h2>
        <p>Correct!  This video supports the weekly objective.</p>
        
        <h2>Video: How truthful are Nutrition Labels<h2>
        <p>Correct!  This video supports the weekly objective.</p>


    </div>

    <div class="answer-image">
        <img src="{{root}}assets/img/correct.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">
        <a class="nextButtonGreen" data-close>Return</a>
    </div>
</div>