<div id="answer-wrapper">
    <div class="answer-text">
        

        <h2>Website: Social Media and Marketing</h2>
        
        <p>Not quite.</p>
        
        <p>Double-check your course/weekly objective for alignment. </p>

        <p>We’re looking for learning experiences and instruction that will reinforce a student’s ability to summarize how ethical considerations affect marketing decisions.</p>
        
        <p>If this does support the weekly objective a brief explanation of how and why this supports the objective will help guide the student to glean the necessary information. </p>



        <h2>Sales Promotional Activities.</h2>

        <p>Not quite.</p>

        <p>Double-check your course/weekly objective for alignment. </p>
        
        <p>We’re looking for learning experiences and instruction that will reinforce a student’s ability to summarize how ethical considerations affect marketing decisions.</p>

        <p>This activity has great marketing information but doesn’t address ethical considerations of marketing.</p>



    </div>

    <div class="answer-image">
        <img src="{{root}}assets/img/incorrect.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">
        <a class="nextButtonRed" data-close>Try again</a>
    </div>
</div>