<div id="answer-wrapper">
    <div class="answer-text">
        <h2>Understand market research methodology.</h2>

        <p>Not Quite.</p>

        <p>Understand is not an appropriate action verb. It is subjective and cannot be observed or measured.</p>

        <p>The following list are additional verbs you want to avoid using for the same reason.</p>
        
            <ul class="two-columns">
                <li>Know</li>
                <li>Become aware of</li>
                <li>Learn</li>
                <li>Understand</li>
                <li>Be familiar with</li>
                <li>Discuss</li> 
                <li>Clarify</li> 
                <li>Explore</li> 
                <li>Examine</li>
                <li>Investigate</li>
                <li>Research</li>
            </ul>

        <p>When choosing action verbs, think action. The above words represent a content-centered approach to objectives. The learner is not asked to do anything with the knowledge/skills they have attained. The above words cannot be observed on their own.</p>

        <p>What students need to DO to prove that understanding is the action verb you are truly looking for.</p>

        <p>For more information on how to write learning objectives, view <strong><u>Pearson’s Job Aid for Writing Course objectives and Lesson Objectives</u></strong></p>



    </div>

    <div class="answer-image">
        <img src="{{root}}assets/img/incorrect.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">
        <a class="nextButtonRed" data-close>Try again</a>
    </div>
</div>