<div id="answer-wrapper">
    <div class="answer-text">
                
        <h2>Custom Multimedia: Making a socially responsible marketing plan.</h2>
        
        <p>Correct!  This presentation supports the weekly objective.</p>

    </div>

     <div class="answer-image">
        <img src="{{root}}assets/img/correct.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">
        <a class="nextButtonGreen" data-close>Return</a>
    </div>
</div>