<div id="answer-wrapper">
    <div class="answer-text">
        <h2>Video: Product Life Cycle</h2>

        <p>Not quite.</p>

        <p>Double-check your course/weekly objective for alignment. <p>
        
        <p>We’re looking for learning experiences and instruction that will reinforce a student’s ability to summarize how ethical considerations affect marketing decisions.</p>

        <p>This may be an engaging video but doesn’t directly support the weekly objective.</p>

    </div>

    <div class="answer-image">
        <img src="{{root}}assets/img/incorrect.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">
        <a class="nextButtonRed" data-close>Try again</a>
    </div>
    
</div>