<div id="answer-wrapper">
    <div class="answer-text">

        <h2>Multiple Choice Quiz: Ethical Considerations affecting Marketing Decisions</h2>
        
        <p>"Summarize,” the action verb in the course objective, represents a higher level of learning than a multiple-choice quiz can adequately measure. When looking to align an assessment or assignment, look closely at the action verb in the objective.</p>
        
        <p>A multiple-choice or true/false quiz only reinforces recognition; it does not measure students’ ability to summarize and determine the essential ideas and important details that support them.</p>


    </div>

    <div class="answer-image">
        <img src="{{root}}assets/img/incorrect.png">
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="alignButton">
        <a class="nextButtonRed" data-close>Try again</a>
    </div>
</div>