<h2>Step 1 Results and Objectives</h2>


<p>Identify Desired Results</p>

<p>The first step in the backwards design process is to Identify Desired Results.
Please consider the following questions to assist you in this step of the process:</p>

<h3>GENERAL GOAL-RELATED QUESTIONS</h3>

<ul>
    <li>What should students know and be able to do at the end of this course?</li>
    <li>What skills should students master through taking this course?</li>
    <li>If you were in your students’ shoes, what would you expect or want out of this course?</li>
    <li>How can you instill passion/enthusiasm for this subject in your students?</li>
</ul>

<h3>CAREER-RELATED QUESTIONS</h3>

<ul>
    <li>What are the essential skills students will need to take from this course to their careers?</li>
    <li>How will students in this course apply their learning to their workplace environments?</li>
    <li>What products, artifacts, or deliverables should students have at the end of the course to show future employers evidence of skill mastery?</li>
    <li>How can students bring their personal and professional experience into this course?</li>
</ul>

<button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
</button>