<h2>Step 3 Instruction and Learning</h2>

<h3>INSTRUCTION AND LEARNING EXPERIENCES:</h3>

<ul>
    <li>Relate directly to the purpose of the course.</li>
    <li>Focus on the overarching questions/issues.</li>
    <li>Target the specific learning and performance objectives.</li>
    <li>Should include a balance of instructor-to-student, student-to-student, and student-to-content interaction.</li>
    <li>Should build community, engage students, promote peer expertise, and invite real-life experience.</li>
</ul>

<h3>QUESTIONS TO ASK:</h3>

<ul>
    <li>What learning experiences and instruction will promote the desired understanding, knowledge, and skill of the course learning objectives?</li>
    <li>How will the design of the instruction and learning experiences encourage high levels of engagement?</li>
    <li>How can you use experience-based learning, investigative learning, problem-based learning, and career-based learning to enrich the student experience? </li>
    <li>How can authentic learning experiences you design be leveraged in making courses scalable and reusable?</li>
</ul>

<button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
</button>