<h2>Step 2 Evidence/Assessments</h2>

<h3>ASSESSMENTS SHOULD:</h3>

<ul>
    <li>Align to the course/learning objectives.</li>
    <li>Be grounded in real-world applications.</li>
    <li>Provide useful formative and summative feedback to the student and be transparent.</li>
    <li>Be valid and reliable.</li>
</ul>

<h3>DETERMINE ACCEPTABLE EVIDENCE: ASSESSMENT</h3>

<ul>
    <li>How can you assess students’ levels of understanding?</li>
    <li>What artifacts prove that the student gets it, owns it, can do it, and can apply it?</li>
    <li>What assignments will allow students to explain, interpret, justify, adapt, and/or apply what they understand?</li>
    <li>How will students have to demonstrate understanding of these skill in the workplace?</li>
    <li>What rubrics will be used to assess complex performance?</li>
</ul>

<button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
</button>