<div id="layout">
    <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

    <div id="menu">
        <div class="pure-menu">        
            <ul class="pure-menu-list">

                <li class="pure-menu-item home">
                    <span><img src="{{root}}assets/img/home.png"></span>
                    <a class="pure-menu-link" href="#home">Home</a>
                </li>
                
                <li class="pure-menu-item two-courses">
                    <span><img src="{{root}}assets/img/icon-two-courses.png"></span>
                    <a class="pure-menu-link" href="#tale-two-courses">Tale of Two Courses</a>
                </li>
                
                <li class="pure-menu-item backward-design" class="menu-item-divided pure-menu-selected">
                    <span><img src="{{root}}assets/img/icon-backward-design.png"></span>
                    <a class="pure-menu-link" href="#anne-appointment">Backward <br /> Design</a></li>
                
                <li class="pure-menu-item course-map">
                    <span><img src="{{root}}assets/img/icon-course-map.png"></span>
                    <a class="pure-menu-link" href="#course-map">Multimedia<br />Features</a>
                </li>
                
                <li class="pure-menu-item activity">
                    <span><img src="{{root}}assets/img/icon-activity.png"></span>
                    <a class="pure-menu-link" href="#activity">Activity</a>
                        <!-- <ul id="submenu">
                            <li class="submenu-bottom-border"><a href="#activity-one" class="test">Activity 1</a></li>
                            <li class="submenu-bottom-border"><a href="#activity-two">Activity 2</a></li>
                            <li><a href="#activity-three">Activity 3</a></li>
                        </ul> -->
                </li><!--pure-menu-item activity-->
            </ul>

        </div>
    </div>
</div>