<p class="not-sure">We encourage you to take a look at your current weekly objectives and consider how well each one maps back to your overall course objectives.</p>

<p class="not-sure">For those that do not map back, ask yourself:</p>

<ul>
<li>Does the weekly objective add relevance to the course objective?
<li>Would a student be able to master the course objective without it?</li>
<li>If it is relevant, how can you reword it to provide a clear, meaningful, and measurable path back to your course objective?</li>
</ul>

<button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
</button>