<p class="very">That’s great! We would still encourage you to take another look at your current weekly objectives and make sure each one maps back to your overall course objectives.</p>

<p class="very">For those that do not map back, ask yourself:</p>
<ul>
<li>Does the objective add relevance to the course objective?</li>
<li>Would a student be able to master the course objective without it?</li>
<li>If it is relevant, how can you reword it to provide a clear, meaningful, and measurable path back to your course objective?</li>
</ul>

<button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
</button>